# Auto Outlier Detection (UIUC)

## User Inputs

In [1]:
PrimaryTableFileLocation = 'quote_level.csv'

## Required Imports

In [2]:
import pandas as pd
import numpy as np
import math
import json
import time
import random
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import scale
from sklearn.compose import ColumnTransformer

## Required Functions

In [3]:
initial = time.time()
def load_json_dict(fname):
    with open(fname) as json_file:
        returndict = json.load(json_file)
    return returndict

def cont_agg(df, continuouscols, key_cols):
    """
    Function to aggregate continuous variables
    Purposes:
        Determine min, max, mean for each continuous variable
        Determine % of total for boolean missing value indicators
    """
    # Construct return dataframe
    ReturnDF = df[key_cols].drop_duplicates()
    # Contruct pivot containing min, max, mean for every continuous variable
    curpivot = pd.pivot_table(df[list(set(key_cols)|set(continuouscols))], values=continuouscols, dropna = False, index=key_cols, aggfunc=[min, max, np.mean])
    curpivot.columns = curpivot.columns.map('_'.join)
    curpivot = curpivot.reset_index()
    ReturnDF = ReturnDF.merge(curpivot, on=key_cols, how='inner')
    del curpivot
    # Contruct pivot containing % missing for every missing value indicator
    missingvalcols = [col for col in df.columns if '_missing_ind' in col]
    missingpivot = pd.pivot_table(df[list(set(key_cols)|set(missingvalcols))], values=missingvalcols, dropna = False, index=key_cols, aggfunc=[np.mean])
    missingpivot.columns = missingpivot.columns.map('_'.join)
    missingpivot = missingpivot.reset_index()
    ReturnDF = ReturnDF.merge(missingpivot, on=key_cols, how='inner')
    del missingpivot
    return ReturnDF



def aggregate_discrete(df,key_col,encodeddict):
    #key_col refers to trans_tracking_nbr
    output_df = df.groupby(key_col).agg([np.mean])
    output_df.columns = output_df.columns.droplevel(1)
    
    aggregated_dict = {}
    for col in df.columns:
        if encodeddict[col] == 'key':
            aggregated_dict[col] = 'key'
        else:
            aggregated_dict[col] = 'numeric'
    
            
    return output_df, aggregated_dict

def get_means_by_year(df, columns, year_col):
    means_by_year = df[list(set(columns) | set([year_col]))].groupby(year_col).agg([np.mean])
    means_by_year.columns = means_by_year.columns.droplevel(1) #rename columns
    means_by_year = means_by_year.reset_index()
    means_by_year.columns = [CurCol+'_imputemean' if CurCol != year_col else CurCol for CurCol in means_by_year.columns]
    return means_by_year

def get_means_overall(df, columns):
    means_overall = df[columns].agg([np.mean])
    means_overall.columns = [CurCol+'_imputemean' for CurCol in means_overall.columns]
    return means_overall

def impute_missing_by_year(df, columns, year_col, means_by_year):
    merged_data = df.merge(means_by_year, on = [year_col], how = "inner")
    for col in columns:
        #print(col)
        merged_data[col+'_missing_ind'] = np.where(merged_data[col].isnull(),1,0)
        merged_data[col] = np.where(merged_data[col].isnull(),merged_data[col+'_imputemean'],merged_data[col])
    merged_data.drop([col for col in merged_data.columns if '_imputemean' in col], inplace = True, axis = 1)
    return merged_data

def impute_missing_overall(df, columns, means_overall):
    merged_data = df.merge(means_overall, how = "cross")
    for col in columns:
        merged_data[col] = np.where(merged_data[col].isnull(),merged_data[col+'_imputemean'],merged_data[col])
    merged_data.drop([col for col in merged_data.columns if '_imputemean' in col], inplace = True, axis = 1)
    return merged_data

def normalize_data(df, columns, year_col = None):
    if year_col is not None:
        df_grouped = df.groupby(year_col)
        df[columns] =df_grouped[columns].transform(lambda x: scale(x.astype(float)))
    else:
        df[columns]= df[columns].transform(lambda x: scale(x.astype(float)))
    return df

#df is a dataframe that contains all the keys and the columns that need to be one hot encoded.
#identifier is a dictionary that signifies if the column in the dataframe is a "key" or a "discrete"
def One_Hot_Encode(df, discretecols, keycols):
    encoded_df = pd.DataFrame() #intialize the dataframe and the dicionary to return
    encoded_dict = {}
    
    for col in df.columns: #iterate through each column in the input dataframe
        #print(col)
        if col in keycols: #copy over column if its a key and store it in the dictionary as a key
            temp_df = df[[col]]
            encoded_df[temp_df.columns] = temp_df
            encoded_dict[col] = "key" 
        elif col in discretecols: #one hot encode column if its discrete and store each one hot encoded column in the dictionary as a numeric 
            df[col] = df[col].str.replace(" ","").str.lower().replace('nan', np.nan)
            temp_df = pd.get_dummies(df[[col]], dummy_na = True)
            #print(temp_df.columns)
            encoded_df[temp_df.columns] = temp_df
            for c in temp_df.columns:
                encoded_dict[c] = "numeric"
    #DEBUGGING
    #print(encoded_df)
    #print(encoded_dict)
    
    return encoded_df, encoded_dict

# removes special characters from a column
# def remove_special(df, column):
#     df[column] = df[column].str.lower().replace('\s+', '', regex=True).str.strip().replace('[#,@,&,-,/,*,--]', '')
def remove_special(x):
    return str(x).lower().replace('\s+', '').strip().replace('[#,@,&,-,/,*,--]', '')
    
def count_distinct(df, key_cols, returncolname):
    #select cols
    df_unique = df[key_cols].copy()
    df_unique[returncolname] = 1
    df_unique = df_unique.groupby(by = key_cols).count()
#     df_unique_group = df_unique.groupby(by = key_cols).count()
#     df_unique_group.reset_index(inplace = True)
#     df_unique_group[returncolname] = df_unique_group[distinct_col_list[0]]
#     return df_unique_group[list(set(key_cols)|set([returncolname]))]
    return df_unique.reset_index()

## Fully Pre-Process Quote Dataset (Primary File)

In [4]:
# Load json associated with primary file (ie. primarydict = load_json_dict('primary_dict.json'))
quote_dict = load_json_dict('col_types/quote_level_dict.json')
display(quote_dict)

{'qtever': 'continuous',
 'premium': 'continuous',
 'age_youngest_driver': 'continuous',
 'pd_limit': 'continuous',
 'newest_vehicle': 'continuous',
 'oldest_vehicle': 'continuous',
 'vehicles': 'continuous',
 'age_oldest_driver': 'continuous',
 'drivers': 'continuous',
 'chargeable13': 'continuous',
 'chargeable45': 'continuous',
 'cbrscore': 'continuous',
 'cbr': 'continuous',
 'effdate': 'other',
 'zipcode': 'other',
 'open_year_month': 'other',
 'open_day_current': 'other',
 'open_month_current': 'other',
 'open_year_current': 'other',
 'rateset': 'other',
 'duplicate_clientid?': 'other',
 'territory': 'other',
 'district': 'other',
 'policy_state': 'other',
 'office_state': 'other',
 'requote': 'discrete',
 'policy_term': 'discrete',
 'tenuretype': 'discrete',
 'tenuresub': 'discrete',
 'agent_type': 'discrete',
 'office_name': 'discrete',
 'quoteloc': 'discrete',
 'bill_mode': 'discrete',
 'company': 'discrete',
 'rateplan': 'discrete',
 'upp': 'discrete',
 'occupation_discount': 'discrete',
 'sdd': 'discrete',
 'nvd': 'discrete',
 'lcd': 'discrete',
 'gdd': 'discrete',
 'gsd': 'discrete',
 'grad': 'discrete',
 'bi_limit': 'discrete',
 'comp_ded': 'discrete',
 'coll_ded': 'discrete',
 'pleasure_only': 'discrete',
 'keeper': 'discrete',
 'advance_quote_discount': 'discrete',
 'dtc': 'discrete',
 'incident_group': 'discrete',
 'prior_bi': 'discrete',
 'married': 'discrete',
 'male': 'discrete',
 'female': 'discrete',
 'mpd': 'discrete',
 'farm_use': 'discrete',
 'large_farm_truck': 'discrete',
 'mulq': 'discrete',
 'autopay': 'discrete',
 'atd': 'discrete',
 'ddd': 'discrete',
 'ecd': 'discrete',
 'mcd': 'discrete',
 'semi_farm_truck': 'discrete',
 'hhid': 'key',
 'trans_tracking_nbr': 'key',
 'Year': 'key'}

In [5]:
# Import quote data from PrimaryTableFileLocation
quote_data = pd.read_csv(PrimaryTableFileLocation)
try:
    quote_data.drop("SampleFilter", axis = 1, inplace=True)
except:
    pass
finally:
    display(quote_data)
set(quote_data.columns) - set(quote_dict)
set(quote_dict) - set(quote_data.columns)

c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3169: DtypeWarning: Columns (0,23) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,hhid,qtever,requote,trans_tracking_nbr,open_year_current,open_month_current,open_day_current,open_year_month,effdate,premium,...,prior_bi,married,male,female,mpd,farm_use,large_farm_truck,semi_farm_truck,cbrscore,mulq
0,1,1,N,806186,2014,7,3,201407,20140710,668.38,...,NaN,Y,Y,Y,AutoHomeLife,N,N,N,0,N
1,1000002,1,N,67166484,2018,6,12,201806,20180619,351.85,...,250000/500000,N,N,Y,AutoHome,N,N,N,819,N
2,1000003,1,N,71322809,2018,7,19,201806,20180702,341.45,...,100000/300000,N,Y,N,AutoHome,N,N,N,0,N
3,1000004,1,N,67166377,2018,6,12,201806,20180612,1892.81,...,50000/100000,N,N,Y,AutoTenant,N,N,N,467,N
4,1000005,1,N,67166542,2018,6,12,201806,20180714,1987.31,...,25000/50000,Y,Y,Y,NaN,N,N,N,626,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
717455,Q978792001,1,N,47433200,2017,10,7,201710,20171007,908.70,...,100000/300000,N,N,Y,AutoTenant,N,N,N,522,N
717456,Q98232001,1,N,38302236,2017,5,8,201705,20170526,957.70,...,50000/100000,Y,Y,Y,AutoHome,N,N,N,0,N
717457,Q987232001,1,N,38287210,2017,5,8,201705,20170515,845.85,...,25000/50000,N,Y,N,NaN,N,N,N,0,N
717458,Q988232001,1,N,38302245,2017,5,8,201705,20170515,1195.91,...,100000/300000,N,N,Y,NaN,N,N,N,0,N
717459,Q997692001,1,N,47449200,2017,10,8,201710,20171012,2370.45,...,25000/50000,Y,Y,Y,AutoHome,N,N,N,0,N

{'Year', 'duplicate_clientid?'}

In [6]:
# Apply ad-hoc adjustments (ie. reduce number of discrete levels)
quote_data["Year"] = quote_data["effdate"].apply(lambda X: str(X)[0:4])
# Construct credit score indicators (insufficient credit and not hit)
quote_data["cbr_insufficientcredit_ind"] = quote_data["cbr"].apply(lambda x: 1 if str(x).lower() == 'i' else 0)
quote_dict["cbr_insufficientcredit_ind"] = 'continuous'
quote_data["cbr_nohit_ind"] = quote_data["cbr"].apply(lambda x: 1 if str(x).lower() == 'n' else 0)
quote_dict["cbr_nohit_ind"] = 'continuous'
quote_data["cbr"] = quote_data["cbr"].apply(lambda x: x if str(x).lower() not in ['i','n'] else np.nan)
# Convert credit score data type to continuous (1a->1.01, 1b->1.02, ... 2->2, I->NAN, N->NAN)
quote_data["cbr"] = quote_data["cbr"].apply(lambda x: x if len(str(x)) != 2 else str(float(list(x)[0]) + 0.01*(ord(list(x)[1].lower()) - ord('a') + 1)))
quote_data["comp_ded"] = quote_data["comp_ded"].replace("None", 0)
quote_data["coll_ded"] = quote_data["coll_ded"].replace("None", 0)

In [7]:
# Cast columns to the correct type
for CurColumn in quote_dict.keys():
    if quote_dict[CurColumn] == 'discrete':
        quote_data[CurColumn] = quote_data[CurColumn].apply(str)
    elif quote_dict[CurColumn] == 'continuous':
        # replace "None" strings with np.nan value
        quote_data[CurColumn] = quote_data[CurColumn].replace("None", np.nan)
        quote_data[CurColumn] = quote_data[CurColumn].apply(float)
    elif quote_dict[CurColumn] == 'key':
        quote_data[CurColumn] = quote_data[CurColumn].apply(str)
    else:
        pass
display(quote_data)

,hhid,qtever,requote,trans_tracking_nbr,open_year_current,open_month_current,open_day_current,open_year_month,effdate,premium,...,female,mpd,farm_use,large_farm_truck,semi_farm_truck,cbrscore,mulq,Year,cbr_insufficientcredit_ind,cbr_nohit_ind
0,1,1.0,N,806186,2014,7,3,201407,20140710,668.38,...,Y,AutoHomeLife,N,N,N,0.0,N,2014,0.0,0.0
1,1000002,1.0,N,67166484,2018,6,12,201806,20180619,351.85,...,Y,AutoHome,N,N,N,819.0,N,2018,0.0,0.0
2,1000003,1.0,N,71322809,2018,7,19,201806,20180702,341.45,...,N,AutoHome,N,N,N,0.0,N,2018,0.0,0.0
3,1000004,1.0,N,67166377,2018,6,12,201806,20180612,1892.81,...,Y,AutoTenant,N,N,N,467.0,N,2018,0.0,0.0
4,1000005,1.0,N,67166542,2018,6,12,201806,20180714,1987.31,...,Y,nan,N,N,N,626.0,N,2018,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
717455,Q978792001,1.0,N,47433200,2017,10,7,201710,20171007,908.70,...,Y,AutoTenant,N,N,N,522.0,N,2017,0.0,0.0
717456,Q98232001,1.0,N,38302236,2017,5,8,201705,20170526,957.70,...,Y,AutoHome,N,N,N,0.0,N,2017,0.0,0.0
717457,Q987232001,1.0,N,38287210,2017,5,8,201705,20170515,845.85,...,N,nan,N,N,N,0.0,N,2017,0.0,0.0
717458,Q988232001,1.0,N,38302245,2017,5,8,201705,20170515,1195.91,...,Y,nan,N,N,N,0.0,N,2017,0.0,0.0
717459,Q997692001,1.0,N,47449200,2017,10,8,201710,20171012,2370.45,...,Y,AutoHome,N,N,N,0.0,N,2017,0.0,0.0

In [8]:
# Continuous variables -- impute missing values
# Extract list of continuous columns from dictionary
continuouscols = [col for col in quote_dict.keys() if quote_dict[col] == 'continuous']
# Construct dataframe containing means by year (for imputation)
#display(continuouscols)
########################
# Impute means by year #
########################
means_by_year = get_means_by_year(quote_data, continuouscols, "Year")
# Impute missing continuous variables
quote_data = impute_missing_by_year(quote_data, continuouscols, "Year", means_by_year)
del means_by_year
##################################################
# Impute means (overall)                         #
# ... incase column wasn't used for a given year #
##################################################
# Construct dataframe containing overall means (for imputation)
means_overall = get_means_overall(quote_data, continuouscols)
# Impute missing continuous variables
quote_data = impute_missing_overall(quote_data, continuouscols, means_overall)
del means_overall

display(quote_data)

,hhid,qtever,requote,trans_tracking_nbr,open_year_current,open_month_current,open_day_current,open_year_month,effdate,premium,...,oldest_vehicle_missing_ind,vehicles_missing_ind,age_oldest_driver_missing_ind,drivers_missing_ind,chargeable13_missing_ind,chargeable45_missing_ind,cbrscore_missing_ind,cbr_missing_ind,cbr_insufficientcredit_ind_missing_ind,cbr_nohit_ind_missing_ind
0,1,1.0,N,806186,2014,7,3,201407,20140710,668.38,...,0,0,0,0,0,0,0,1,0,0
1,100007,1.0,N,3437185,2014,12,3,201412,20141203,474.64,...,0,0,0,0,0,0,0,1,0,0
2,100008,1.0,N,3440190,2014,12,3,201412,20141203,1219.78,...,0,0,0,0,0,0,0,1,0,0
3,100009,1.0,N,3441186,2014,12,3,201412,20141203,795.43,...,0,0,0,0,0,0,0,1,0,0
4,100010,1.0,N,3442186,2014,12,3,201412,20141203,355.95,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
717455,Q978792001,1.0,N,47433200,2017,10,7,201710,20171007,908.70,...,0,0,0,0,0,0,0,0,0,0
717456,Q98232001,1.0,N,38302236,2017,5,8,201705,20170526,957.70,...,0,0,0,0,0,0,0,1,0,0
717457,Q987232001,1.0,N,38287210,2017,5,8,201705,20170515,845.85,...,0,0,0,0,0,0,0,1,0,0
717458,Q988232001,1.0,N,38302245,2017,5,8,201705,20170515,1195.91,...,0,0,0,0,0,0,0,1,0,0
717459,Q997692001,1.0,N,47449200,2017,10,8,201710,20171012,2370.45,...,0,0,0,0,0,0,0,1,0,0

In [9]:
# Construct curated dataset
keepkeylist = list(set([col for col in quote_dict.keys() if quote_dict[col] == 'key']) -set(['hhid']))
#keepkeylist = ["trans_tracking_nbr", "Year"]
display(keepkeylist)
Curated_Quote = quote_data[keepkeylist].drop_duplicates()
Curated_Quote

['trans_tracking_nbr', 'Year']

       trans_tracking_nbr  Year
0                  806186  2014
1                 3437185  2014
2                 3440190  2014
3                 3441186  2014
4                 3442186  2014
...                   ...   ...
717455           47433200  2017
717456           38302236  2017
717457           38287210  2017
717458           38302245  2017
717459           47449200  2017

[717460 rows x 2 columns]

In [10]:
# Process continuous variables
cont_df = cont_agg(quote_data, continuouscols, keepkeylist)
Curated_Quote = Curated_Quote.merge(cont_df, on=keepkeylist, how='inner')
del cont_df
Curated_Quote

,trans_tracking_nbr,Year,min_age_oldest_driver,min_age_youngest_driver,min_cbr,min_cbr_insufficientcredit_ind,min_cbr_nohit_ind,min_cbrscore,min_chargeable13,min_chargeable45,...,mean_cbrscore_missing_ind,mean_chargeable13_missing_ind,mean_chargeable45_missing_ind,mean_drivers_missing_ind,mean_newest_vehicle_missing_ind,mean_oldest_vehicle_missing_ind,mean_pd_limit_missing_ind,mean_premium_missing_ind,mean_qtever_missing_ind,mean_vehicles_missing_ind
0,806186,2014,29.0,28.0,3.256082,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3437185,2014,53.0,53.0,3.256082,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3440190,2014,34.0,34.0,3.256082,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3441186,2014,48.0,48.0,3.256082,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3442186,2014,54.0,54.0,3.256082,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
717455,47433200,2017,67.0,67.0,9.000000,0.0,0.0,522.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
717456,38302236,2017,40.0,33.0,3.501901,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
717457,38287210,2017,26.0,26.0,3.501901,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
717458,38302245,2017,22.0,22.0,3.501901,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
717459,47449200,2017,41.0,17.0,3.501901,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
# Process discrete variables
discretecols = [col for col in quote_dict.keys() if quote_dict[col] == 'discrete']
encoded_df, encoded_dict = One_Hot_Encode(quote_data, discretecols, keepkeylist)
encoded_df

,requote_n,requote_y,requote_nan,trans_tracking_nbr,policy_term_12,policy_term_6,policy_term_nan,tenuretype_new,tenuretype_nan,tenuresub_new,...,large_farm_truck_n,large_farm_truck_y,large_farm_truck_nan,semi_farm_truck_n,semi_farm_truck_y,semi_farm_truck_nan,mulq_n,mulq_y,mulq_nan,Year
0,1,0,0,806186,0,1,0,1,0,1,...,1,0,0,1,0,0,1,0,0,2014
1,1,0,0,3437185,0,1,0,1,0,1,...,1,0,0,1,0,0,1,0,0,2014
2,1,0,0,3440190,0,1,0,1,0,1,...,1,0,0,1,0,0,1,0,0,2014
3,1,0,0,3441186,0,1,0,1,0,1,...,1,0,0,1,0,0,1,0,0,2014
4,1,0,0,3442186,0,1,0,1,0,1,...,1,0,0,1,0,0,1,0,0,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
717455,1,0,0,47433200,0,1,0,1,0,1,...,1,0,0,1,0,0,1,0,0,2017
717456,1,0,0,38302236,0,1,0,1,0,1,...,1,0,0,1,0,0,1,0,0,2017
717457,1,0,0,38287210,0,1,0,1,0,1,...,1,0,0,1,0,0,1,0,0,2017
717458,1,0,0,38302245,0,1,0,1,0,1,...,1,0,0,1,0,0,1,0,0,2017
717459,1,0,0,47449200,0,1,0,1,0,1,...,1,0,0,1,0,0,1,0,0,2017

In [12]:
# Aggregate discrete variables
quote_disc_df,aggregated_dict = aggregate_discrete(encoded_df,keepkeylist,encoded_dict) #DISCRETE AGGREGATION
del encoded_df
display(quote_disc_df)

,,requote_n,requote_y,requote_nan,policy_term_12,policy_term_6,policy_term_nan,tenuretype_new,tenuretype_nan,tenuresub_new,tenuresub_nan,...,farm_use_nan,large_farm_truck_n,large_farm_truck_y,large_farm_truck_nan,semi_farm_truck_n,semi_farm_truck_y,semi_farm_truck_nan,mulq_n,mulq_y,mulq_nan
trans_tracking_nbr,Year,,,,,,,,,,,,,,,,,,,,,
100000538,2019,1,0,0,0,1,0,1,0,1,0,...,0,1,0,0,1,0,0,1,0,0
100000594,2019,1,0,0,0,1,0,1,0,1,0,...,0,1,0,0,1,0,0,1,0,0
100000598,2019,1,0,0,0,1,0,1,0,1,0,...,0,1,0,0,1,0,0,1,0,0
100000639,2019,1,0,0,0,1,0,1,0,1,0,...,0,1,0,0,1,0,0,1,0,0
100000656,2019,1,0,0,0,1,0,1,0,1,0,...,0,1,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99997912,2019,1,0,0,0,1,0,1,0,1,0,...,0,1,0,0,1,0,0,1,0,0
99997981,2019,1,0,0,0,1,0,1,0,1,0,...,0,1,0,0,1,0,0,1,0,0
99997993,2019,1,0,0,0,1,0,1,0,1,0,...,0,1,0,0,1,0,0,1,0,0
99998012,2019,1,0,0,0,1,0,1,0,1,0,...,0,1,0,0,1,0,0,1,0,0
99998013,2019,1,0,0,0,1,0,1,0,1,0,...,0,1,0,0,1,0,0,1,0,0

In [13]:
# Join discrete and continuous columns together
Curated_Quote = Curated_Quote.merge(quote_disc_df, on = keepkeylist, how = 'inner')
del quote_disc_df

In [14]:
# Display new curated primary dataset
#display(Curated_Quote)
# Export dataset to csv
Curated_Quote.to_csv("Curated_quote.csv", index=False)
# Export data types to json
with open("QuoteDict.json", "w") as outfile: 
    json.dump(Curated_Quote.dtypes.apply(lambda x: x.name).to_dict(), outfile)

In [15]:
# Extract mapping between trans_tracking_nbr and year (for appending year to secondary variables)
Trans_tracking_nbr_to_year_mapping = Curated_Quote[['trans_tracking_nbr', 'Year']].drop_duplicates()

## Fully Pre-Process Vehicle Dataset (Secondary File)

In [16]:
# Load json associated with primary file (ie. primarydict = load_json_dict('primary_dict.json'))
vehicle_dict = load_json_dict('col_types/vehicle_level_dict.json')
display(vehicle_dict)

{'annualmileage': 'continuous',
 'bipdsymbol': 'continuous',
 'collisionsymbol': 'continuous',
 'compsymbol': 'continuous',
 'medpipsymbol': 'continuous',
 'mileagetowork': 'continuous',
 'weeklytowork': 'continuous',
 'underinsuredmotoristspropertydamagelimit': 'continuous',
 'antilockbrakedevicecd': 'other',
 'bodystyle': 'other',
 'makecode': 'other',
 'modelliteral': 'other',
 'make': 'other',
 'model': 'other',
 'modelcode': 'other',
 'modelyear': 'other',
 'assignablevehind': 'discrete',
 'collisiondeductible': 'discrete',
 'communicationdeviceind': 'discrete',
 'comprehensivedeductible': 'discrete',
 'emergencyroadservice': 'discrete',
 'excessvehind': 'discrete',
 'factoryantitheftdeviceind': 'discrete',
 'highperformanceind': 'discrete',
 'safetyglass': 'discrete',
 'schoolchildrentransportation': 'discrete',
 'seasonalvehind': 'discrete',
 'snowplowliability': 'discrete',
 'usecd': 'discrete',
 'vehiclecategory': 'discrete',
 'vehicleownership': 'discrete',
 'vehicletype': 'discrete',
 'uninsuredmotoristspropertydamagedeductible': 'discrete',
 'uninsuredmotoristspropertydamageind': 'discrete',
 'makeliteral': 'discrete',
 'trans_tracking_nbr': 'key',
 'primaryoperatorlink': 'key',
 'ratedoperatorlink': 'key'}

In [17]:
# Import vehicle data from sample_quote_level.csv
vehicle_data = pd.read_csv("vehicle_level.csv")
#display(vehicle_data.columns)
set(vehicle_data.columns) - set(vehicle_dict)
set(vehicle_dict) - set(vehicle_data.columns)

set()

In [18]:
# Apply ad-hoc adjustments (ie. reduce number of discrete levels)
#quote_data["Year"] = quote_data["effdate"].apply(lambda X: str(X)[0:4])

In [19]:
# Cast columns to the correct type
for CurColumn in vehicle_dict.keys():
    if vehicle_dict[CurColumn] == 'discrete':
        vehicle_data[CurColumn] = vehicle_data[CurColumn].apply(str)
    elif vehicle_dict[CurColumn] == 'continuous':
        #vehicle_data[CurColumn] = vehicle_data[CurColumn].replace("None", np.nan)
        vehicle_data[CurColumn] = vehicle_data[CurColumn].apply(float)
    elif vehicle_dict[CurColumn] == 'key':
        vehicle_data[CurColumn] = vehicle_data[CurColumn].apply(str)
    else:
        pass
display(vehicle_data)

,trans_tracking_nbr,annualmileage,antilockbrakedevicecd,assignablevehind,bipdsymbol,bodystyle,collisiondeductible,collisionsymbol,communicationdeviceind,comprehensivedeductible,...,seasonalvehind,snowplowliability,usecd,vehiclecategory,vehicleownership,vehicletype,weeklytowork,underinsuredmotoristspropertydamagelimit,uninsuredmotoristspropertydamagedeductible,uninsuredmotoristspropertydamageind
0,65281610,NaN,NaN,Y,300.0,NaN,500,15.0,N,250,...,N,N,Pleasure,StandVeh,Owned,CarSuv,NaN,NaN,nan,N
1,65281610,NaN,NaN,Y,270.0,NaN,None,18.0,N,None,...,N,N,Pleasure,StandVeh,Owned,CarSuv,NaN,NaN,nan,N
2,65281610,NaN,NaN,Y,300.0,NaN,None,2.0,N,None,...,N,N,ToWork,StandVeh,Owned,Truck,200.0,NaN,nan,N
3,65384471,NaN,NaN,Y,295.0,NaN,500,32.0,N,500,...,N,N,Pleasure,StandVeh,Owned,Truck,NaN,NaN,nan,N
4,65283564,NaN,NaN,Y,295.0,NaN,500,24.0,N,500,...,N,N,ToWork,StandVeh,Owned,CarSuv,50.0,NaN,nan,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1256463,174949272,NaN,NaN,Y,300.0,NaN,None,5.0,N,None,...,N,N,Pleasure,StandVeh,Owned,Truck,NaN,NaN,nan,nan
1256464,174949272,NaN,NaN,Y,310.0,NaN,None,11.0,N,None,...,N,N,ToWork,StandVeh,Owned,CarSuv,35.0,NaN,nan,nan
1256465,174949272,NaN,NaN,Y,300.0,NaN,500,20.0,N,250,...,N,N,Pleasure,StandVeh,Financed,Van,NaN,NaN,nan,nan
1256466,174949272,NaN,NaN,Y,295.0,NaN,500,11.0,N,250,...,N,N,Pleasure,StandVeh,Financed,Truck,NaN,NaN,nan,nan
1256467,174949272,NaN,NaN,Y,295.0,NaN,None,11.0,N,None,...,N,N,Pleasure,StandVeh,Owned,Truck,NaN,NaN,nan,nan

In [20]:
# Append year to secondary dataset and its associated dictionary of data types
vehicle_data = vehicle_data.merge(Trans_tracking_nbr_to_year_mapping, on='trans_tracking_nbr', how='inner')
vehicle_dict["Year"] = "key"

In [21]:
# Ad Hoc -- Construct Vehicle Age from Vehicle Year and Year
#vehicle_data["modelyear"].isna().unique()
vehicle_data["vehicleage"] = vehicle_data["Year"].apply(float) - vehicle_data["modelyear"].apply(float)
vehicle_dict["vehicleage"] = 'continuous'
# Ad Hoc -- Remove model year (already used to construct vehicle age)
del vehicle_data["modelyear"]

In [22]:
# read vehiclecompany names from text document
makes_list = []
with open('output_make_txt.txt', 'r') as f:
    for line in f.readlines()[0:]:
        rows = line.rstrip('\n').split()
        makes_list.append(rows)
display(makes_list)

[['cheverolet',
  'cherrolet',
  'chevrolete',
  'chgevrolet',
  'chevrolet',
  'chevr',
  'chev',
  'chevy'],
 ['tissin', 'nissan'],
 ['jeepcj', 'cjjeep', 'jeep'],
 ['tyoga', 'taota', 'toyaota', 'toyata', 'toyota'],
 ['tcchrysler', 'chrysler'],
 ['polar',
  'poiaris',
  'poloris',
  'polairs',
  'polris',
  'poaris',
  'polaries',
  'polaris'],
 ['texas',
  'nexus',
  'exxs',
  'exis',
  'exciss',
  'exissii',
  'exxis',
  'exxiss',
  'exixx',
  'exiss',
  'exis3',
  'exifs'],
 ['harleydavison',
  'harlydavidson',
  'haeleydavidson',
  'harleydavidison',
  '79harleydavidson',
  'harleydavinson',
  'harleydavidscon',
  'harleydavidson',
  'harley',
  'harleydav',
  'harleydavis'],
 ['pontiacg6', 'ponti', 'pontiac'],
 ['volkswagon', 'volkswagen', 'volks'],
 ['mitzubishi', 'mitsibishi', 'mitsubishi', 'mitsc', 'mitsu'],
 ['merkur', 'merury', 'mercury'],
 ['plymoth', 'plymouth'],
 ['damon', 'diamondc', 'diamo', 'diamondd', 'diamondt', 'diamond', 'daymon'],
 ['dadillac', 'cadillac'],
 ['clubcart', 'clubcar'],
 ['forestriv',
  'forrestriver',
  'forstriver',
  'forestriverrt',
  'forestriver3',
  'forestfiver',
  'forestrivr',
  'forestrvr',
  'foreriver',
  'forestrover',
  'forestriverrv',
  'foresriver',
  'forestrivewr',
  'foretriver',
  'forestrive',
  'foresterriver',
  'forrestrivers',
  'forestriver'],
 ['vovlo', 'volta', 'volvogm', 'volvo'],
 ['dutchman',
  'dutman',
  'dutchmen',
  'duthman',
  'dushaman',
  'ducthman',
  'duchman'],
 ['vespa', 'fespa'],
 ['tesla', 'tessla', 'telsa', 'tels'],
 ['terra', 'terr'],
 ['traillite', 'travelaire', 'travelite', 'travellite'],
 ['suzki', 'susuki', 'suziki', 'sukuki', 'suzuki'],
 ['hamer', 'hummer', 'hummerh1', 'hamme', 'hymer', 'h1hummer'],
 ['keytston',
  'keyston',
  'keystonerv',
  'keyestone',
  'keysone',
  'kstone',
  'keystoner',
  'kestone',
  'keytone',
  'keytsone',
  'kaystone',
  'keytstone',
  'keystone'],
 ['travco', 'trav', 'travo'],
 ['rocwood', 'roockwood', 'rookwood', 'rockwood'],
 ['fleetwod', 'fleetowod', 'fleetwoodrv', 'fleetwood'],
 ['puma', 'puna', 'puma26', 'neuma'],
 ['kawasaki',
  'kawask',
  'kawasawki',
  'kawasoki',
  'kowasaki',
  'kawazaki',
  'kawas',
  'kawsaki',
  'kawaski',
  'kawa'],
 ['arcticcat',
  'arctccat',
  'articat',
  'arcticat',
  'arcticcar',
  'arctickat',
  'arcitccat',
  'arcticcaat',
  'articcat'],
 ['steath', 'steal', 'steelth', 'stealth'],
 ['morgan', 'morgon'],
 ['yahaha', 'yamah', 'yahama', 'yahmaha', 'yamaho', 'yamaha', 'yama'],
 ['prowl', 'prowler29', 'power', 'poler', 'prowler'],
 ['internaional',
  'internatioinal',
  'intervnational',
  'interantional',
  'internatiuonal',
  'intnational',
  'internationa',
  'nternational',
  'interntaional',
  'internationaltr',
  'interntational',
  'internationnal',
  'internatinal',
  'internantional',
  'interational',
  'internation',
  'internatonal',
  'international'],
 ['star', '4star', 'star21', 'starr'],
 ['sparks', 'park'],
 ['saber', 'sabre'],
 ['dest', 'desot'],
 ['wilso', 'wison', 'wilson'],
 ['coachmen',
  'coacman',
  'couchman',
  'ccoachman',
  'louchman',
  'coachmann',
  'coahman',
  'coachmanrv',
  'coachman'],
 ['truimph', 'triump', 'triumph'],
 ['cati', 'duct', 'dukati', 'ducati', 'duca'],
 ['carry',
  'karry',
  'caryy',
  'cary',
  'carri',
  'crry',
  'cari',
  'carryo',
  'carr',
  'carey'],
 ['cher', 'char'],
 ['ezygo', 'easygo', 'ezgo', 'exgo', 'ezgolf'],
 ['golfstream',
  'gulfstream',
  'gulfstrem',
  'gulfstrea',
  'gulfsteam',
  'gullstream'],
 ['hornet', 'horne'],
 ['horsey',
  '2horse',
  '3horse',
  '4horse',
  'horse',
  'dorsy',
  'dorsey',
  'horseli'],
 ['genes', 'gensis', 'genisis', 'geneis', 'genesis'],
 ['forest',
  'forestrv',
  'forrester',
  'forestr',
  'forrestor',
  'forestor',
  'forestar',
  'forester'],
 ['hallmark',
  'halmark',
  'hallmart',
  'hulmark',
  'haumark',
  'hailmark',
  'harmark',
  'haulamrk',
  'haulmark'],
 ['atlas', 'atlass'],
 ['maseratti', 'maseratigt', 'masserati', 'maserati'],
 ['denalli', 'danali', 'denial', 'denali'],
 ['whitz', 'witz'],
 ['white', 'whitegm', 'whiteh'],
 ['sarfari', 'safari', 'safar', 'safa'],
 ['sundown', 'sundownere', 'sundowner'],
 ['dolittle',
  'doollittle',
  'dootlittle',
  'doolittle',
  'dool',
  'dooli',
  'dolit',
  'doolit',
  'doolt'],
 ['elipse', 'eclispse', 'eclip', 'elclipse', 'eclipes', 'eclipse'],
 ['hawk', 'hawke', 'hawk2', 'chawk'],
 ['alforomero', 'alfaromeo'],
 ['silverlit', 'siverlite', 'silverlite', 'silverlight', 'silverlightth'],
 ['monarch', 'monach', 'monarc'],
 ['monaco', 'monac', 'monoco', 'monco', 'manac'],
 ['monica', 'monico'],
 ['starcrft',
  'starcrest',
  'starcrafft',
  'starcraftrv',
  'starkcraft',
  'starcraft'],
 ['lakot', 'lacota', 'dakota', 'lako', 'dakot', 'lakotalq', 'lakota'],
 ['caravan', 'karav', 'karavan'],
 ['crossroad',
  '17crossroads',
  'crossraods',
  'crossroadsrv',
  'crossroadsz1',
  'crossroads'],
 ['freightliner',
  'freightline',
  'freighline',
  'freightlin',
  'frightliner',
  'freighltliner',
  'freitliner',
  'freightlinder',
  'freightleiner',
  'feightliner',
  'freighliner',
  'freightlinerfld',
  'freightlinerfl60'],
 ['peterbuilt',
  'peterrbilt',
  'peterbiuilt',
  'peterbelt',
  'peterbild',
  'peterbil',
  'eterbilt',
  'peterbilt'],
 ['featherlite',
  'featherlight',
  'featherlith',
  'featherline',
  'feathrlite',
  'featherlit'],
 ['cheerokee', 'cherokkee', 'cherokee', 'chevrokee', 'chero'],
 ['winnebego',
  'winnibago',
  'winnabego',
  'winnebeago',
  'winnebbago',
  'winabago',
  'winnabago',
  'wiinebago',
  'winnobago',
  'winnegago',
  'winniebago',
  'winebago',
  'winnibaggo',
  'wennebego',
  'winnebago'],
 ['thor', 'ther'],
 ['bigte', 'bigtx', 'bigtext', 'bixtx', 'bigtek', 'bigto', 'bigtex'],
 ['catalina', 'cataline'],
 ['holidayambler', 'hollidayrambler', 'holidsayrambler', 'holidayrambler'],
 ['timpt',
  'timpe',
  'tempt',
  'timppe',
  'tempte',
  'timte',
  'timp',
  'timbe',
  'timpte'],
 ['hartland',
  'rvheartland',
  'heartlandrv',
  'heartland1',
  'heatland',
  'hearland',
  'heatrland',
  'heartland'],
 ['rolesroyce', 'rollsroyce'],
 ['terryx', 'terry'],
 ['wellcargo', 'willscargo', 'wellscargo'],
 ['kodia', 'kodiac', 'kodiaq', 'kodiak'],
 ['kzrv', 'kyrv'],
 ['victoria', 'victory'],
 ['mirag', 'mirage'],
 ['bullet', 'bulle', 'bullt', 'bulln', 'bullitt', 'bullett'],
 ['pilgrim', 'pilgrimm', 'pilgrahm', 'pilgram'],
 ['krusader', 'crusader'],
 ['keiferbuilt', 'kieferbuilt'],
 ['alfa', 'alpin', 'alph', 'alta', 'alpha'],
 ['kubots', 'kbota', 'kubota', 'kabota'],
 ['aspen', 'aspenle', 'asper'],
 ['americanmtrs', 'americanmotors'],
 ['cruiserrv', 'cruis', 'cruise', 'cruizer', 'cruiser'],
 ['echo', 'edco'],
 ['rancher', 'ranch'],
 ['jayccamper', 'jaycocamp', 'jaycocamper'],
 ['norstar', 'northstar'],
 ['cycon', 'cyclone'],
 ['cros', 'lacross', 'cross'],
 ['kensworth', 'kentworth', 'kenneworth', 'kennworth', 'kenworth'],
 ['polarisrazor', 'polarisrzrxp', 'polarisrzr'],
 ['vantage', 'vintage'],
 ['regal', 'rexal'],
 ['passo', 'passp'],
 ['econoliner', 'econoline'],
 ['amerilite', 'amerlite'],
 ['wilerness', 'wilderness'],
 ['montanta', 'montanna', 'montanarv', 'montana'],
 ['granddesn',
  'ttgranddesign',
  'granddesignrv',
  'granddesi',
  'granddesihn',
  'granddsgn',
  'granddesign'],
 ['tiffany',
  'tiffi',
  'tiffan',
  'tifffin',
  'tiff',
  'tifan',
  'tiffen',
  'tiffian',
  'tiffin'],
 ['general', 'amgeneral'],
 ['bently', 'bentley'],
 ['malard', 'malar', 'mallord', 'mallard'],
 ['kaufmann', 'caufman', 'kaufman'],
 ['outba', 'outback'],
 ['continential', 'continenta', 'contental', 'continental'],
 ['tiago', 'tioga'],
 ['loadmaster', 'roadster', 'roadmaster'],
 ['wildcat27', 'wildcat'],
 ['alergro',
  'allegro',
  'elegro',
  'alegra',
  'alero',
  'allegroi',
  'alegr',
  'allegra',
  'alegro'],
 ['cruze', 'kruze'],
 ['arista', 'arisi', 'artisi', 'arisia', 'aris'],
 ['mcclaren', 'mclaren'],
 ['currahee', 'carahee', 'curahee'],
 ['imagi', 'imagine'],
 ['hemi', 'hemis'],
 ['trailman', 'traileman', 'trailerman'],
 ['cornp', 'crnpr', 'crnpo', 'cornpro16', 'cornpea', 'cornpro'],
 ['cargomat', 'carcomate', 'cargomate'],
 ['skyline', 'skline', 'skyli'],
 ['dongfang', 'dongfeng'],
 ['liber', 'liberty'],
 ['jacks', 'jason', 'jackson'],
 ['articfox', 'artiticfox', 'arcticford', 'artticfox', 'arcticfox'],
 ['rettig', 'yetti'],
 ['taoi', 'tahoe'],
 ['studibaker', 'studabaker', 'studebaker'],
 ['trito', 'triple', 'trhl', 'tail', 'triplee', 'tripl'],
 ['triton', 'titan'],
 ['angler', 'wrangler'],
 ['apachi', 'apache'],
 ['kiefer',
  'kieffer',
  'keffer',
  'reefer',
  'keife',
  'reifer',
  'keifr',
  'keifer'],
 ['shorelandr', 'shorelander'],
 ['sandpipe', 'sandpiper'],
 ['mavrick', 'maverick'],
 ['fourwinns', 'fourwind', 'fourwinds'],
 ['farrari', 'ferarri', 'ferari', 'ferrarri', 'ferrari'],
 ['timberlodge', 'timberridge'],
 ['vikine', 'vikin', 'viking'],
 ['johndeer', 'johndeere'],
 ['uscar', 'uscargo'],
 ['graywolf', 'greywood', 'greywolf', 'cherokeegraywolf', 'cherokeegreywolf'],
 ['huscavarna', 'huskavarna', 'husqvana', 'husqvarna'],
 ['serria', 'sieera', 'seirra', 'sierra'],
 ['lamborchini', 'lamborghini'],
 ['ainley', 'ripley', 'ridley'],
 ['thurobuilt', 'thurobilt', 'thurobilt'],
 ['escapade', 'escaper', 'escap', 'escape'],
 ['fruehauf', 'frueghauf', 'freuhouf', 'freuhauf', 'freughoff', 'fruehoff'],
 ['merrit', 'norris', 'norri', 'morris'],
 ['couger', 'couga', 'courgar', 'cougar'],
 ['canaspyder', 'canamspyder'],
 ['coverwagon', 'coveredwagon'],
 ['alpenlite', 'alpineline', 'aplinelite', 'alpinelite'],
 ['airising', 'arising'],
 ['highland', 'highlander'],
 ['kioti', 'kiioti'],
 ['bigft', 'bigfoot'],
 ['kzdurango', 'durango'],
 ['jflight', 'jayflightu', 'jaycoflight', 'jayfright', 'jayflight'],
 ['lander', 'lancer'],
 ['atrilia', 'aprillia', 'aprilia'],
 ['quali', 'value', 'avala', 'qvale'],
 ['falcon', 'alcon', 'alcom'],
 ['fleetwoodporwler', 'fleetwoodprowler'],
 ['beltrite', 'biltrite'],
 ['delta2', 'delta'],
 ['bronc', 'bronco'],
 ['lawrimore', 'larimore', 'lawrimare', 'lawri'],
 ['tramp', 'skamp', 'shamp', 'scamp'],
 ['harleydavidsonstrg', 'harleydavidsonspri'],
 ['astinmartin', 'astonmartin'],
 ['rennegade', 'renagade', 'renegade'],
 ['summitt', 'summi', 'summit'],
 ['paceamerica', 'paceamerican'],
 ['reflex', 'refle'],
 ['oshkosh', 'oshgosh', 'oskosh'],
 ['jeepcheroke', 'jeepcherokee'],
 ['shado', 'shadow'],
 ['hinsun', 'hisun'],
 ['discover', 'discovery'],
 ['dyanmax', 'dynamo', 'dynamax'],
 ['willees',
  'willis',
  'willies',
  "willy's",
  'willys',
  'willie',
  'willy',
  'willi'],
 ['casita', 'cacita', 'casida', 'Cressida'],
 ['arisinginc', 'arisingind'],
 ['forestrivervibe', 'forrestrivervibe'],
 ['geniunescooter', 'genuinescooter'],
 ['komfort', 'komf', 'kmfrt', 'komft'],
 ['cobra', 'coba'],
 ['venture', 'adventure'],
 ['jaycoinc.', 'jaycoinc'],
 ['hideout', 'hideo', 'hidot'],
 ['avange', 'venge', 'avenger'],
 ['palominopu', 'palominopuma'],
 ['cynergy', 'synergy', 'energy'],
 ['fuzion', 'fusion'],
 ['polarranger', 'polarisranger'],
 ['silverstreak28', 'silverstreak'],
 ['journy', 'journey'],
 ['sunvoyager', 'sunvoyger'],
 ['rexhall', 'rexall'],
 ['phaet', 'phaeton'],
 ['mercedez', 'mercedes'],
 ['travelong', 'travellong', 'travalong'],
 ['clubcadet', 'cubcadet'],
 ['coachmenchaparral', 'coachmenchaparrall'],
 ['zieman', 'ziem', 'ziema', 'zeman'],
 ['ezhaul', 'ezhauler'],
 ['volonte', 'volante'],
 ['chaparal',
  'chapperal',
  'chaparel',
  'chaparral',
  'chapparelle',
  'chapparell',
  'chapperell',
  'chapparel'],
 ['benderup', 'brenderup'],
 ['midsoda', 'midsota', 'midst'],
 ['cimmarron', 'cimarron', 'cimaron', 'simmeron', 'cimmaron'],
 ['entegraco', 'entegra'],
 ['shadowcruis', 'shadowcruise', 'shadowcruiser'],
 ['recreationalbydesign', 'recreationbydesign'],
 ['third', 'tbird'],
 ['easyhaul', 'easyhauler'],
 ['mazaretti', 'mazaratti'],
 ['lodeking', 'loadking'],
 ['mountainair', 'mountainaire'],
 ['benelli', 'bintelli'],
 ['keystonelaredo', 'keystonelorado'],
 ['anthe', 'panther'],
 ['bmwharsco', 'bmyharsco'],
 ['pulse', 'impulse'],
 ['monikodiplomat', 'monticodiplomat', 'manacodiplomat', 'monacodiplomat'],
 ['wonderer', 'wanderer'],
 ['keystonecougar', 'keystonecouger'],
 ['reliace', 'relience'],
 ['hdsportster', 'sportster'],
 ['avelon', 'avalon'],
 ['kzsportsmanclassic', 'sportsmanclassic'],
 ['travelsupreme', 'travelsupreem'],
 ['exgoexpress', 'ezgoexpress'],
 ['apenlite', 'aplenlite'],
 ['forrestriverwildwood',
  'forestriverwildwood',
  'wildwoodforestriver',
  'wildwoodbyforestriver'],
 ['indianchief', 'indianchef'],
 ['zeppel', 'zeppl'],
 ['salemcruis', 'salemcruse', 'salemcruise'],
 ['defenderxt', 'defender']]

In [23]:
# Make the dictionary to easily change values inside the makeliteral column
master_dict = {}
for lists in makes_list:
    for value in lists:
        master_dict[value] = lists[0]
display(master_dict)

{'cheverolet': 'cheverolet',
 'cherrolet': 'cheverolet',
 'chevrolete': 'cheverolet',
 'chgevrolet': 'cheverolet',
 'chevrolet': 'cheverolet',
 'chevr': 'cheverolet',
 'chev': 'cheverolet',
 'chevy': 'cheverolet',
 'tissin': 'tissin',
 'nissan': 'tissin',
 'jeepcj': 'jeepcj',
 'cjjeep': 'jeepcj',
 'jeep': 'jeepcj',
 'tyoga': 'tyoga',
 'taota': 'tyoga',
 'toyaota': 'tyoga',
 'toyata': 'tyoga',
 'toyota': 'tyoga',
 'tcchrysler': 'tcchrysler',
 'chrysler': 'tcchrysler',
 'polar': 'polar',
 'poiaris': 'polar',
 'poloris': 'polar',
 'polairs': 'polar',
 'polris': 'polar',
 'poaris': 'polar',
 'polaries': 'polar',
 'polaris': 'polar',
 'texas': 'texas',
 'nexus': 'texas',
 'exxs': 'texas',
 'exis': 'texas',
 'exciss': 'texas',
 'exissii': 'texas',
 'exxis': 'texas',
 'exxiss': 'texas',
 'exixx': 'texas',
 'exiss': 'texas',
 'exis3': 'texas',
 'exifs': 'texas',
 'harleydavison': 'harleydavison',
 'harlydavidson': 'harleydavison',
 'haeleydavidson': 'harleydavison',
 'harleydavidison': 'harleydavison',
 '79harleydavidson': 'harleydavison',
 'harleydavinson': 'harleydavison',
 'harleydavidscon': 'harleydavison',
 'harleydavidson': 'harleydavison',
 'harley': 'harleydavison',
 'harleydav': 'harleydavison',
 'harleydavis': 'harleydavison',
 'pontiacg6': 'pontiacg6',
 'ponti': 'pontiacg6',
 'pontiac': 'pontiacg6',
 'volkswagon': 'volkswagon',
 'volkswagen': 'volkswagon',
 'volks': 'volkswagon',
 'mitzubishi': 'mitzubishi',
 'mitsibishi': 'mitzubishi',
 'mitsubishi': 'mitzubishi',
 'mitsc': 'mitzubishi',
 'mitsu': 'mitzubishi',
 'merkur': 'merkur',
 'merury': 'merkur',
 'mercury': 'merkur',
 'plymoth': 'plymoth',
 'plymouth': 'plymoth',
 'damon': 'damon',
 'diamondc': 'damon',
 'diamo': 'damon',
 'diamondd': 'damon',
 'diamondt': 'damon',
 'diamond': 'damon',
 'daymon': 'damon',
 'dadillac': 'dadillac',
 'cadillac': 'dadillac',
 'clubcart': 'clubcart',
 'clubcar': 'clubcart',
 'forestriv': 'forestriv',
 'forrestriver': 'forestriv',
 'forstriver': 'forestriv',
 'forestriverrt': 'forestriv',
 'forestriver3': 'forestriv',
 'forestfiver': 'forestriv',
 'forestrivr': 'forestriv',
 'forestrvr': 'forestriv',
 'foreriver': 'forestriv',
 'forestrover': 'forestriv',
 'forestriverrv': 'forestriv',
 'foresriver': 'forestriv',
 'forestrivewr': 'forestriv',
 'foretriver': 'forestriv',
 'forestrive': 'forestriv',
 'foresterriver': 'forestriv',
 'forrestrivers': 'forestriv',
 'forestriver': 'forestriv',
 'vovlo': 'vovlo',
 'volta': 'vovlo',
 'volvogm': 'vovlo',
 'volvo': 'vovlo',
 'dutchman': 'dutchman',
 'dutman': 'dutchman',
 'dutchmen': 'dutchman',
 'duthman': 'dutchman',
 'dushaman': 'dutchman',
 'ducthman': 'dutchman',
 'duchman': 'dutchman',
 'vespa': 'vespa',
 'fespa': 'vespa',
 'tesla': 'tesla',
 'tessla': 'tesla',
 'telsa': 'tesla',
 'tels': 'tesla',
 'terra': 'terra',
 'terr': 'terra',
 'traillite': 'traillite',
 'travelaire': 'traillite',
 'travelite': 'traillite',
 'travellite': 'traillite',
 'suzki': 'suzki',
 'susuki': 'suzki',
 'suziki': 'suzki',
 'sukuki': 'suzki',
 'suzuki': 'suzki',
 'hamer': 'hamer',
 'hummer': 'hamer',
 'hummerh1': 'hamer',
 'hamme': 'hamer',
 'hymer': 'hamer',
 'h1hummer': 'hamer',
 'keytston': 'keytston',
 'keyston': 'keytston',
 'keystonerv': 'keytston',
 'keyestone': 'keytston',
 'keysone': 'keytston',
 'kstone': 'keytston',
 'keystoner': 'keytston',
 'kestone': 'keytston',
 'keytone': 'keytston',
 'keytsone': 'keytston',
 'kaystone': 'keytston',
 'keytstone': 'keytston',
 'keystone': 'keytston',
 'travco': 'travco',
 'trav': 'travco',
 'travo': 'travco',
 'rocwood': 'rocwood',
 'roockwood': 'rocwood',
 'rookwood': 'rocwood',
 'rockwood': 'rocwood',
 'fleetwod': 'fleetwod',
 'fleetowod': 'fleetwod',
 'fleetwoodrv': 'fleetwod',
 'fleetwood': 'fleetwod',
 'puma': 'puma',
 'puna': 'puma',
 'puma26': 'puma',
 'neuma': 'puma',
 'kawasaki': 'kawasaki',
 'kawask': 'kawasaki',
 'kawasawki': 'kawasaki',
 'kawasoki': 'kawasaki',
 'kowasaki': 'kawasaki',
 'kawazaki': 'kawasaki',
 'kawas': 'kawasaki',
 'kawsaki': 'kawasaki',
 'kawaski': 'kawasaki',
 'kawa': 'kawasaki',
 'arcticcat': 'arcticcat',
 'arctccat': 'arcticcat',
 'articat': 'arcticcat',
 'arcticat': 'arcticcat',
 'arcticcar': 'arcticcat',
 'arctickat': 'arcticcat',
 'arcitccat': 'arcticcat',
 'arcticcaat': 'arcticcat',
 'articcat': 'arcticcat',
 'steath': 'steath',
 'steal': 'steath',
 'steelth': 'steath',
 'stealth': 'steath',
 'morgan': 'morgan',
 'morgon': 'morgan',
 'yahaha': 'yahaha',
 'yamah': 'yahaha',
 'yahama': 'yahaha',
 'yahmaha': 'yahaha',
 'yamaho': 'yahaha',
 'yamaha': 'yahaha',
 'yama': 'yahaha',
 'prowl': 'prowl',
 'prowler29': 'prowl',
 'power': 'prowl',
 'poler': 'prowl',
 'prowler': 'prowl',
 'internaional': 'internaional',
 'internatioinal': 'internaional',
 'intervnational': 'internaional',
 'interantional': 'internaional',
 'internatiuonal': 'internaional',
 'intnational': 'internaional',
 'internationa': 'internaional',
 'nternational': 'internaional',
 'interntaional': 'internaional',
 'internationaltr': 'internaional',
 'interntational': 'internaional',
 'internationnal': 'internaional',
 'internatinal': 'internaional',
 'internantional': 'internaional',
 'interational': 'internaional',
 'internation': 'internaional',
 'internatonal': 'internaional',
 'international': 'internaional',
 'star': 'star',
 '4star': 'star',
 'star21': 'star',
 'starr': 'star',
 'sparks': 'sparks',
 'park': 'sparks',
 'saber': 'saber',
 'sabre': 'saber',
 'dest': 'dest',
 'desot': 'dest',
 'wilso': 'wilso',
 'wison': 'wilso',
 'wilson': 'wilso',
 'coachmen': 'coachmen',
 'coacman': 'coachmen',
 'couchman': 'coachmen',
 'ccoachman': 'coachmen',
 'louchman': 'coachmen',
 'coachmann': 'coachmen',
 'coahman': 'coachmen',
 'coachmanrv': 'coachmen',
 'coachman': 'coachmen',
 'truimph': 'truimph',
 'triump': 'truimph',
 'triumph': 'truimph',
 'cati': 'cati',
 'duct': 'cati',
 'dukati': 'cati',
 'ducati': 'cati',
 'duca': 'cati',
 'carry': 'carry',
 'karry': 'carry',
 'caryy': 'carry',
 'cary': 'carry',
 'carri': 'carry',
 'crry': 'carry',
 'cari': 'carry',
 'carryo': 'carry',
 'carr': 'carry',
 'carey': 'carry',
 'cher': 'cher',
 'char': 'cher',
 'ezygo': 'ezygo',
 'easygo': 'ezygo',
 'ezgo': 'ezygo',
 'exgo': 'ezygo',
 'ezgolf': 'ezygo',
 'golfstream': 'golfstream',
 'gulfstream': 'golfstream',
 'gulfstrem': 'golfstream',
 'gulfstrea': 'golfstream',
 'gulfsteam': 'golfstream',
 'gullstream': 'golfstream',
 'hornet': 'hornet',
 'horne': 'hornet',
 'horsey': 'horsey',
 '2horse': 'horsey',
 '3horse': 'horsey',
 '4horse': 'horsey',
 'horse': 'horsey',
 'dorsy': 'horsey',
 'dorsey': 'horsey',
 'horseli': 'horsey',
 'genes': 'genes',
 'gensis': 'genes',
 'genisis': 'genes',
 'geneis': 'genes',
 'genesis': 'genes',
 'forest': 'forest',
 'forestrv': 'forest',
 'forrester': 'forest',
 'forestr': 'forest',
 'forrestor': 'forest',
 'forestor': 'forest',
 'forestar': 'forest',
 'forester': 'forest',
 'hallmark': 'hallmark',
 'halmark': 'hallmark',
 'hallmart': 'hallmark',
 'hulmark': 'hallmark',
 'haumark': 'hallmark',
 'hailmark': 'hallmark',
 'harmark': 'hallmark',
 'haulamrk': 'hallmark',
 'haulmark': 'hallmark',
 'atlas': 'atlas',
 'atlass': 'atlas',
 'maseratti': 'maseratti',
 'maseratigt': 'maseratti',
 'masserati': 'maseratti',
 'maserati': 'maseratti',
 'denalli': 'denalli',
 'danali': 'denalli',
 'denial': 'denalli',
 'denali': 'denalli',
 'whitz': 'whitz',
 'witz': 'whitz',
 'white': 'white',
 'whitegm': 'white',
 'whiteh': 'white',
 'sarfari': 'sarfari',
 'safari': 'sarfari',
 'safar': 'sarfari',
 'safa': 'sarfari',
 'sundown': 'sundown',
 'sundownere': 'sundown',
 'sundowner': 'sundown',
 'dolittle': 'dolittle',
 'doollittle': 'dolittle',
 'dootlittle': 'dolittle',
 'doolittle': 'dolittle',
 'dool': 'dolittle',
 'dooli': 'dolittle',
 'dolit': 'dolittle',
 'doolit': 'dolittle',
 'doolt': 'dolittle',
 'elipse': 'elipse',
 'eclispse': 'elipse',
 'eclip': 'elipse',
 'elclipse': 'elipse',
 'eclipes': 'elipse',
 'eclipse': 'elipse',
 'hawk': 'hawk',
 'hawke': 'hawk',
 'hawk2': 'hawk',
 'chawk': 'hawk',
 'alforomero': 'alforomero',
 'alfaromeo': 'alforomero',
 'silverlit': 'silverlit',
 'siverlite': 'silverlit',
 'silverlite': 'silverlit',
 'silverlight': 'silverlit',
 'silverlightth': 'silverlit',
 'monarch': 'monarch',
 'monach': 'monarch',
 'monarc': 'monarch',
 'monaco': 'monaco',
 'monac': 'monaco',
 'monoco': 'monaco',
 'monco': 'monaco',
 'manac': 'monaco',
 'monica': 'monica',
 'monico': 'monica',
 'starcrft': 'starcrft',
 'starcrest': 'starcrft',
 'starcrafft': 'starcrft',
 'starcraftrv': 'starcrft',
 'starkcraft': 'starcrft',
 'starcraft': 'starcrft',
 'lakot': 'lakot',
 'lacota': 'lakot',
 'dakota': 'lakot',
 'lako': 'lakot',
 'dakot': 'lakot',
 'lakotalq': 'lakot',
 'lakota': 'lakot',
 'caravan': 'caravan',
 'karav': 'caravan',
 'karavan': 'caravan',
 'crossroad': 'crossroad',
 '17crossroads': 'crossroad',
 'crossraods': 'crossroad',
 'crossroadsrv': 'crossroad',
 'crossroadsz1': 'crossroad',
 'crossroads': 'crossroad',
 'freightliner': 'freightliner',
 'freightline': 'freightliner',
 'freighline': 'freightliner',
 'freightlin': 'freightliner',
 'frightliner': 'freightliner',
 'freighltliner': 'freightliner',
 'freitliner': 'freightliner',
 'freightlinder': 'freightliner',
 'freightleiner': 'freightliner',
 'feightliner': 'freightliner',
 'freighliner': 'freightliner',
 'freightlinerfld': 'freightliner',
 'freightlinerfl60': 'freightliner',
 'peterbuilt': 'peterbuilt',
 'peterrbilt': 'peterbuilt',
 'peterbiuilt': 'peterbuilt',
 'peterbelt': 'peterbuilt',
 'peterbild': 'peterbuilt',
 'peterbil': 'peterbuilt',
 'eterbilt': 'peterbuilt',
 'peterbilt': 'peterbuilt',
 'featherlite': 'featherlite',
 'featherlight': 'featherlite',
 'featherlith': 'featherlite',
 'featherline': 'featherlite',
 'feathrlite': 'featherlite',
 'featherlit': 'featherlite',
 'cheerokee': 'cheerokee',
 'cherokkee': 'cheerokee',
 'cherokee': 'cheerokee',
 'chevrokee': 'cheerokee',
 'chero': 'cheerokee',
 'winnebego': 'winnebego',
 'winnibago': 'winnebego',
 'winnabego': 'winnebego',
 'winnebeago': 'winnebego',
 'winnebbago': 'winnebego',
 'winabago': 'winnebego',
 'winnabago': 'winnebego',
 'wiinebago': 'winnebego',
 'winnobago': 'winnebego',
 'winnegago': 'winnebego',
 'winniebago': 'winnebego',
 'winebago': 'winnebego',
 'winnibaggo': 'winnebego',
 'wennebego': 'winnebego',
 'winnebago': 'winnebego',
 'thor': 'thor',
 'ther': 'thor',
 'bigte': 'bigte',
 'bigtx': 'bigte',
 'bigtext': 'bigte',
 'bixtx': 'bigte',
 'bigtek': 'bigte',
 'bigto': 'bigte',
 'bigtex': 'bigte',
 'catalina': 'catalina',
 'cataline': 'catalina',
 'holidayambler': 'holidayambler',
 'hollidayrambler': 'holidayambler',
 'holidsayrambler': 'holidayambler',
 'holidayrambler': 'holidayambler',
 'timpt': 'timpt',
 'timpe': 'timpt',
 'tempt': 'timpt',
 'timppe': 'timpt',
 'tempte': 'timpt',
 'timte': 'timpt',
 'timp': 'timpt',
 'timbe': 'timpt',
 'timpte': 'timpt',
 'hartland': 'hartland',
 'rvheartland': 'hartland',
 'heartlandrv': 'hartland',
 'heartland1': 'hartland',
 'heatland': 'hartland',
 'hearland': 'hartland',
 'heatrland': 'hartland',
 'heartland': 'hartland',
 'rolesroyce': 'rolesroyce',
 'rollsroyce': 'rolesroyce',
 'terryx': 'terryx',
 'terry': 'terryx',
 'wellcargo': 'wellcargo',
 'willscargo': 'wellcargo',
 'wellscargo': 'wellcargo',
 'kodia': 'kodia',
 'kodiac': 'kodia',
 'kodiaq': 'kodia',
 'kodiak': 'kodia',
 'kzrv': 'kzrv',
 'kyrv': 'kzrv',
 'victoria': 'victoria',
 'victory': 'victoria',
 'mirag': 'mirag',
 'mirage': 'mirag',
 'bullet': 'bullet',
 'bulle': 'bullet',
 'bullt': 'bullet',
 'bulln': 'bullet',
 'bullitt': 'bullet',
 'bullett': 'bullet',
 'pilgrim': 'pilgrim',
 'pilgrimm': 'pilgrim',
 'pilgrahm': 'pilgrim',
 'pilgram': 'pilgrim',
 'krusader': 'krusader',
 'crusader': 'krusader',
 'keiferbuilt': 'keiferbuilt',
 'kieferbuilt': 'keiferbuilt',
 'alfa': 'alfa',
 'alpin': 'alfa',
 'alph': 'alfa',
 'alta': 'alfa',
 'alpha': 'alfa',
 'kubots': 'kubots',
 'kbota': 'kubots',
 'kubota': 'kubots',
 'kabota': 'kubots',
 'aspen': 'aspen',
 'aspenle': 'aspen',
 'asper': 'aspen',
 'americanmtrs': 'americanmtrs',
 'americanmotors': 'americanmtrs',
 'cruiserrv': 'cruiserrv',
 'cruis': 'cruiserrv',
 'cruise': 'cruiserrv',
 'cruizer': 'cruiserrv',
 'cruiser': 'cruiserrv',
 'echo': 'echo',
 'edco': 'echo',
 'rancher': 'rancher',
 'ranch': 'rancher',
 'jayccamper': 'jayccamper',
 'jaycocamp': 'jayccamper',
 'jaycocamper': 'jayccamper',
 'norstar': 'norstar',
 'northstar': 'norstar',
 'cycon': 'cycon',
 'cyclone': 'cycon',
 'cros': 'cros',
 'lacross': 'cros',
 'cross': 'cros',
 'kensworth': 'kensworth',
 'kentworth': 'kensworth',
 'kenneworth': 'kensworth',
 'kennworth': 'kensworth',
 'kenworth': 'kensworth',
 'polarisrazor': 'polarisrazor',
 'polarisrzrxp': 'polarisrazor',
 'polarisrzr': 'polarisrazor',
 'vantage': 'vantage',
 'vintage': 'vantage',
 'regal': 'regal',
 'rexal': 'regal',
 'passo': 'passo',
 'passp': 'passo',
 'econoliner': 'econoliner',
 'econoline': 'econoliner',
 'amerilite': 'amerilite',
 'amerlite': 'amerilite',
 'wilerness': 'wilerness',
 'wilderness': 'wilerness',
 'montanta': 'montanta',
 'montanna': 'montanta',
 'montanarv': 'montanta',
 'montana': 'montanta',
 'granddesn': 'granddesn',
 'ttgranddesign': 'granddesn',
 'granddesignrv': 'granddesn',
 'granddesi': 'granddesn',
 'granddesihn': 'granddesn',
 'granddsgn': 'granddesn',
 'granddesign': 'granddesn',
 'tiffany': 'tiffany',
 'tiffi': 'tiffany',
 'tiffan': 'tiffany',
 'tifffin': 'tiffany',
 'tiff': 'tiffany',
 'tifan': 'tiffany',
 'tiffen': 'tiffany',
 'tiffian': 'tiffany',
 'tiffin': 'tiffany',
 'general': 'general',
 'amgeneral': 'general',
 'bently': 'bently',
 'bentley': 'bently',
 'malard': 'malard',
 'malar': 'malard',
 'mallord': 'malard',
 'mallard': 'malard',
 'kaufmann': 'kaufmann',
 'caufman': 'kaufmann',
 'kaufman': 'kaufmann',
 'outba': 'outba',
 'outback': 'outba',
 'continential': 'continential',
 'continenta': 'continential',
 'contental': 'continential',
 'continental': 'continential',
 'tiago': 'tiago',
 'tioga': 'tiago',
 'loadmaster': 'loadmaster',
 'roadster': 'loadmaster',
 'roadmaster': 'loadmaster',
 'wildcat27': 'wildcat27',
 'wildcat': 'wildcat27',
 'alergro': 'alergro',
 'allegro': 'alergro',
 'elegro': 'alergro',
 'alegra': 'alergro',
 'alero': 'alergro',
 'allegroi': 'alergro',
 'alegr': 'alergro',
 'allegra': 'alergro',
 'alegro': 'alergro',
 'cruze': 'cruze',
 'kruze': 'cruze',
 'arista': 'arista',
 'arisi': 'arista',
 'artisi': 'arista',
 'arisia': 'arista',
 'aris': 'arista',
 'mcclaren': 'mcclaren',
 'mclaren': 'mcclaren',
 'currahee': 'currahee',
 'carahee': 'currahee',
 'curahee': 'currahee',
 'imagi': 'imagi',
 'imagine': 'imagi',
 'hemi': 'hemi',
 'hemis': 'hemi',
 'trailman': 'trailman',
 'traileman': 'trailman',
 'trailerman': 'trailman',
 'cornp': 'cornp',
 'crnpr': 'cornp',
 'crnpo': 'cornp',
 'cornpro16': 'cornp',
 'cornpea': 'cornp',
 'cornpro': 'cornp',
 'cargomat': 'cargomat',
 'carcomate': 'cargomat',
 'cargomate': 'cargomat',
 'skyline': 'skyline',
 'skline': 'skyline',
 'skyli': 'skyline',
 'dongfang': 'dongfang',
 'dongfeng': 'dongfang',
 'liber': 'liber',
 'liberty': 'liber',
 'jacks': 'jacks',
 'jason': 'jacks',
 'jackson': 'jacks',
 'articfox': 'articfox',
 'artiticfox': 'articfox',
 'arcticford': 'articfox',
 'artticfox': 'articfox',
 'arcticfox': 'articfox',
 'rettig': 'rettig',
 'yetti': 'rettig',
 'taoi': 'taoi',
 'tahoe': 'taoi',
 'studibaker': 'studibaker',
 'studabaker': 'studibaker',
 'studebaker': 'studibaker',
 'trito': 'trito',
 'triple': 'trito',
 'trhl': 'trito',
 'tail': 'trito',
 'triplee': 'trito',
 'tripl': 'trito',
 'triton': 'triton',
 'titan': 'triton',
 'angler': 'angler',
 'wrangler': 'angler',
 'apachi': 'apachi',
 'apache': 'apachi',
 'kiefer': 'kiefer',
 'kieffer': 'kiefer',
 'keffer': 'kiefer',
 'reefer': 'kiefer',
 'keife': 'kiefer',
 'reifer': 'kiefer',
 'keifr': 'kiefer',
 'keifer': 'kiefer',
 'shorelandr': 'shorelandr',
 'shorelander': 'shorelandr',
 'sandpipe': 'sandpipe',
 'sandpiper': 'sandpipe',
 'mavrick': 'mavrick',
 'maverick': 'mavrick',
 'fourwinns': 'fourwinns',
 'fourwind': 'fourwinns',
 'fourwinds': 'fourwinns',
 'farrari': 'farrari',
 'ferarri': 'farrari',
 'ferari': 'farrari',
 'ferrarri': 'farrari',
 'ferrari': 'farrari',
 'timberlodge': 'timberlodge',
 'timberridge': 'timberlodge',
 'vikine': 'vikine',
 'vikin': 'vikine',
 'viking': 'vikine',
 'johndeer': 'johndeer',
 'johndeere': 'johndeer',
 'uscar': 'uscar',
 'uscargo': 'uscar',
 'graywolf': 'graywolf',
 'greywood': 'graywolf',
 'greywolf': 'graywolf',
 'cherokeegraywolf': 'graywolf',
 'cherokeegreywolf': 'graywolf',
 'huscavarna': 'huscavarna',
 'huskavarna': 'huscavarna',
 'husqvana': 'huscavarna',
 'husqvarna': 'huscavarna',
 'serria': 'serria',
 'sieera': 'serria',
 'seirra': 'serria',
 'sierra': 'serria',
 'lamborchini': 'lamborchini',
 'lamborghini': 'lamborchini',
 'ainley': 'ainley',
 'ripley': 'ainley',
 'ridley': 'ainley',
 'thurobuilt': 'thurobuilt',
 'thurobilt': 'thurobuilt',
 'escapade': 'escapade',
 'escaper': 'escapade',
 'escap': 'escapade',
 'escape': 'escapade',
 'fruehauf': 'fruehauf',
 'frueghauf': 'fruehauf',
 'freuhouf': 'fruehauf',
 'freuhauf': 'fruehauf',
 'freughoff': 'fruehauf',
 'fruehoff': 'fruehauf',
 'merrit': 'merrit',
 'norris': 'merrit',
 'norri': 'merrit',
 'morris': 'merrit',
 'couger': 'couger',
 'couga': 'couger',
 'courgar': 'couger',
 'cougar': 'couger',
 'canaspyder': 'canaspyder',
 'canamspyder': 'canaspyder',
 'coverwagon': 'coverwagon',
 'coveredwagon': 'coverwagon',
 'alpenlite': 'alpenlite',
 'alpineline': 'alpenlite',
 'aplinelite': 'alpenlite',
 'alpinelite': 'alpenlite',
 'airising': 'airising',
 'arising': 'airising',
 'highland': 'highland',
 'highlander': 'highland',
 'kioti': 'kioti',
 'kiioti': 'kioti',
 'bigft': 'bigft',
 'bigfoot': 'bigft',
 'kzdurango': 'kzdurango',
 'durango': 'kzdurango',
 'jflight': 'jflight',
 'jayflightu': 'jflight',
 'jaycoflight': 'jflight',
 'jayfright': 'jflight',
 'jayflight': 'jflight',
 'lander': 'lander',
 'lancer': 'lander',
 'atrilia': 'atrilia',
 'aprillia': 'atrilia',
 'aprilia': 'atrilia',
 'quali': 'quali',
 'value': 'quali',
 'avala': 'quali',
 'qvale': 'quali',
 'falcon': 'falcon',
 'alcon': 'falcon',
 'alcom': 'falcon',
 'fleetwoodporwler': 'fleetwoodporwler',
 'fleetwoodprowler': 'fleetwoodporwler',
 'beltrite': 'beltrite',
 'biltrite': 'beltrite',
 'delta2': 'delta2',
 'delta': 'delta2',
 'bronc': 'bronc',
 'bronco': 'bronc',
 'lawrimore': 'lawrimore',
 'larimore': 'lawrimore',
 'lawrimare': 'lawrimore',
 'lawri': 'lawrimore',
 'tramp': 'tramp',
 'skamp': 'tramp',
 'shamp': 'tramp',
 'scamp': 'tramp',
 'harleydavidsonstrg': 'harleydavidsonstrg',
 'harleydavidsonspri': 'harleydavidsonstrg',
 'astinmartin': 'astinmartin',
 'astonmartin': 'astinmartin',
 'rennegade': 'rennegade',
 'renagade': 'rennegade',
 'renegade': 'rennegade',
 'summitt': 'summitt',
 'summi': 'summitt',
 'summit': 'summitt',
 'paceamerica': 'paceamerica',
 'paceamerican': 'paceamerica',
 'reflex': 'reflex',
 'refle': 'reflex',
 'oshkosh': 'oshkosh',
 'oshgosh': 'oshkosh',
 'oskosh': 'oshkosh',
 'jeepcheroke': 'jeepcheroke',
 'jeepcherokee': 'jeepcheroke',
 'shado': 'shado',
 'shadow': 'shado',
 'hinsun': 'hinsun',
 'hisun': 'hinsun',
 'discover': 'discover',
 'discovery': 'discover',
 'dyanmax': 'dyanmax',
 'dynamo': 'dyanmax',
 'dynamax': 'dyanmax',
 'willees': 'willees',
 'willis': 'willees',
 'willies': 'willees',
 "willy's": 'willees',
 'willys': 'willees',
 'willie': 'willees',
 'willy': 'willees',
 'willi': 'willees',
 'casita': 'casita',
 'cacita': 'casita',
 'casida': 'casita',
 'Cressida': 'casita',
 'arisinginc': 'arisinginc',
 'arisingind': 'arisinginc',
 'forestrivervibe': 'forestrivervibe',
 'forrestrivervibe': 'forestrivervibe',
 'geniunescooter': 'geniunescooter',
 'genuinescooter': 'geniunescooter',
 'komfort': 'komfort',
 'komf': 'komfort',
 'kmfrt': 'komfort',
 'komft': 'komfort',
 'cobra': 'cobra',
 'coba': 'cobra',
 'venture': 'venture',
 'adventure': 'venture',
 'jaycoinc.': 'jaycoinc.',

In [24]:
#remove special characters from the makeliteral column
vehicle_data["makeliteral"] = vehicle_data["makeliteral"].apply(remove_special)
vehicle_data["makeliteral"].unique()

array(['chevrolet', 'ram', 'nissan', ..., 'hawkmaster', 'valor ez-go',
       'aplinelite'], dtype=object)

In [25]:
#replaces vehicle names with those on the makeliteral txt

# Better implementation
vehicle_data["makeliteral"] = vehicle_data["makeliteral"].apply(lambda X: master_dict[X] if X in master_dict else X)
display(vehicle_data["makeliteral"])


#for elem in makes_list:
#    for i in range(1, len(elem)):
#        vehicle_data['makeliteral'] = np.where(vehicle_data['makeliteral'] == elem[i], elem[0], vehicle_data['makeliteral'])
#display(vehicle_data['makeliteral'])
#
#Takes everything belo top 100 make literals and changes them to OTHER

0          cheverolet
1          cheverolet
2          cheverolet
3                 ram
4              tissin
              ...
1256463          ford
1256464        merkur
1256465         dodge
1256466         dodge
1256467    cheverolet
Name: makeliteral, Length: 1256468, dtype: object

In [26]:
top100 = vehicle_data['makeliteral'].value_counts()[:100].index
vehicle_data.loc[~vehicle_data['makeliteral'].isin(top100), 'makeliteral'] = 'OTHER'

In [27]:
# Continuous variables -- impute missing values
# Extract list of continuous columns from dictionary
continuouscols = [col for col in vehicle_dict.keys() if vehicle_dict[col] == 'continuous']
# Construct dataframe containing means by year (for imputation)
#display(continuouscols)
########################
# Impute means by year #
########################
means_by_year = get_means_by_year(vehicle_data, continuouscols, "Year") 
# Impute missing continuous variables
vehicle_data = impute_missing_by_year(vehicle_data, continuouscols, "Year", means_by_year)
del means_by_year
##########################################
# Impute means across all years          #
# ... for when column not used in a year #
##########################################
# Construct dataframe containing overall means (for imputation)
means_overall = get_means_overall(vehicle_data, continuouscols)
# Impute missing continuous variables
vehicle_data = impute_missing_overall(vehicle_data, continuouscols, means_overall)
del means_overall

display(vehicle_data)

,trans_tracking_nbr,annualmileage,antilockbrakedevicecd,assignablevehind,bipdsymbol,bodystyle,collisiondeductible,collisionsymbol,communicationdeviceind,comprehensivedeductible,...,vehicleage,annualmileage_missing_ind,bipdsymbol_missing_ind,collisionsymbol_missing_ind,compsymbol_missing_ind,medpipsymbol_missing_ind,mileagetowork_missing_ind,weeklytowork_missing_ind,underinsuredmotoristspropertydamagelimit_missing_ind,vehicleage_missing_ind
0,65281610,2954.491724,NaN,Y,300.0,NaN,500,15.0,N,250,...,8.0,1,0,0,0,0,1,1,1,0
1,65281610,2954.491724,NaN,Y,270.0,NaN,None,18.0,N,None,...,18.0,1,0,0,0,0,1,1,1,0
2,65281610,2954.491724,NaN,Y,300.0,NaN,None,2.0,N,None,...,28.0,1,0,0,0,0,1,0,1,0
3,65384471,2954.491724,NaN,Y,295.0,NaN,500,32.0,N,500,...,3.0,1,0,0,0,0,1,1,1,0
4,65283564,2954.491724,NaN,Y,295.0,NaN,500,24.0,N,500,...,3.0,1,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1256463,3915185,1400.000000,NaN,Y,315.0,NaN,500,45.0,N,500,...,3.0,1,0,0,0,0,1,0,1,0
1256464,3915187,1400.000000,NaN,Y,285.0,NaN,1000,23.0,N,1000,...,2.0,1,0,0,0,0,1,0,1,0
1256465,3918187,1400.000000,NaN,N,300.0,NaN,None,16.0,N,100,...,14.0,1,0,0,0,0,1,1,1,0
1256466,3920186,1400.000000,NaN,Y,310.0,NaN,500,15.0,N,100,...,13.0,1,0,0,0,0,1,1,1,0
1256467,3920186,1400.000000,NaN,Y,290.0,NaN,100,15.0,N,500,...,5.0,1,0,0,0,0,1,0,1,0

In [28]:
# Construct curated dataset
keepkeylist = list(set([col for col in vehicle_dict.keys() if vehicle_dict[col] == 'key']) -set(["primaryoperatorlink", "ratedoperatorlink"]))
# If modelyear converted to a key, don't forget to get rid of it
#keepkeylist = [col for col in vehicle_dict.keys() if vehicle_dict[col] == 'key']
display(keepkeylist)
Curated_Vehicle = vehicle_data[keepkeylist].drop_duplicates()
Curated_Vehicle

['trans_tracking_nbr', 'Year']

        trans_tracking_nbr  Year
0                 65281610  2018
3                 65384471  2018
4                 65283564  2018
6                 65383455  2018
8                 65283567  2018
...                    ...   ...
1256462            3914185  2014
1256463            3915185  2014
1256464            3915187  2014
1256465            3918187  2014
1256466            3920186  2014

[717460 rows x 2 columns]

In [29]:
# Process continuous variables
cont_df = cont_agg(vehicle_data, continuouscols, keepkeylist)
Curated_Vehicle = Curated_Vehicle.merge(cont_df, on=keepkeylist, how='inner')
del cont_df
display(Curated_Vehicle)

,trans_tracking_nbr,Year,min_annualmileage,min_bipdsymbol,min_collisionsymbol,min_compsymbol,min_medpipsymbol,min_mileagetowork,min_underinsuredmotoristspropertydamagelimit,min_vehicleage,...,mean_weeklytowork,mean_annualmileage_missing_ind,mean_bipdsymbol_missing_ind,mean_collisionsymbol_missing_ind,mean_compsymbol_missing_ind,mean_medpipsymbol_missing_ind,mean_mileagetowork_missing_ind,mean_underinsuredmotoristspropertydamagelimit_missing_ind,mean_vehicleage_missing_ind,mean_weeklytowork_missing_ind
0,65281610,2018,2954.491724,270.0,2.0,2.0,475.0,NaN,NaN,8.0,...,111.416655,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.666667
1,65384471,2018,2954.491724,295.0,32.0,38.0,465.0,NaN,NaN,3.0,...,67.124982,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.000000
2,65283564,2018,2954.491724,295.0,22.0,21.0,465.0,NaN,NaN,2.0,...,95.000000,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.000000
3,65383455,2018,2954.491724,290.0,17.0,21.0,475.0,NaN,NaN,2.0,...,67.124982,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.000000
4,65283567,2018,2954.491724,290.0,3.0,3.0,485.0,NaN,NaN,6.0,...,56.593737,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.750000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
717455,3914185,2014,1400.000000,310.0,11.0,11.0,480.0,NaN,NaN,6.0,...,100.000000,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.000000
717456,3915185,2014,1400.000000,315.0,45.0,22.0,530.0,NaN,NaN,3.0,...,400.000000,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.000000
717457,3915187,2014,1400.000000,285.0,23.0,19.0,490.0,NaN,NaN,2.0,...,200.000000,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.000000
717458,3918187,2014,1400.000000,300.0,16.0,16.0,500.0,NaN,NaN,14.0,...,46.651264,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.000000
717459,3920186,2014,1400.000000,290.0,15.0,15.0,495.0,NaN,NaN,5.0,...,48.325632,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.500000

In [30]:
# Process discrete variables
discretecols = [col for col in vehicle_dict.keys() if vehicle_dict[col] == 'discrete']
encoded_df, encoded_dict = One_Hot_Encode(vehicle_data, discretecols, keepkeylist)
encoded_df

,trans_tracking_nbr,assignablevehind_n,assignablevehind_y,assignablevehind_nan,collisiondeductible_100,collisiondeductible_1000,collisiondeductible_200,collisiondeductible_2000,collisiondeductible_250,collisiondeductible_50,...,vehicletype_nan,uninsuredmotoristspropertydamagedeductible_100,uninsuredmotoristspropertydamagedeductible_200,uninsuredmotoristspropertydamagedeductible_250,uninsuredmotoristspropertydamagedeductible_nodeductible,uninsuredmotoristspropertydamagedeductible_nan,uninsuredmotoristspropertydamageind_n,uninsuredmotoristspropertydamageind_y,uninsuredmotoristspropertydamageind_nan,Year
0,65281610,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,2018
1,65281610,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,2018
2,65281610,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,2018
3,65384471,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,2018
4,65283564,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1256463,3915185,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,2014
1256464,3915187,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,1,1,0,0,2014
1256465,3918187,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,2014
1256466,3920186,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,2014
1256467,3920186,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,2014

In [31]:
# Aggregate discrete variables
vehicle_disc_df,aggregated_dict = aggregate_discrete(encoded_df,keepkeylist,encoded_dict) #DISCRETE AGGREGATION
del encoded_df
display(vehicle_disc_df)

,,assignablevehind_n,assignablevehind_y,assignablevehind_nan,collisiondeductible_100,collisiondeductible_1000,collisiondeductible_200,collisiondeductible_2000,collisiondeductible_250,collisiondeductible_50,collisiondeductible_500,...,vehicletype_vanbus,vehicletype_nan,uninsuredmotoristspropertydamagedeductible_100,uninsuredmotoristspropertydamagedeductible_200,uninsuredmotoristspropertydamagedeductible_250,uninsuredmotoristspropertydamagedeductible_nodeductible,uninsuredmotoristspropertydamagedeductible_nan,uninsuredmotoristspropertydamageind_n,uninsuredmotoristspropertydamageind_y,uninsuredmotoristspropertydamageind_nan
trans_tracking_nbr,Year,,,,,,,,,,,,,,,,,,,,,
100000538,2019,0.0,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.333333,...,0.0,0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
100000594,2019,0.0,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
100000598,2019,0.0,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,...,0.0,0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
100000639,2019,0.0,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,...,0.0,0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
100000656,2019,0.0,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,...,0.0,0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99997912,2019,0.0,1.0,0,0.0,1.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
99997981,2019,0.0,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,...,0.0,0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
99997993,2019,0.0,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
99998012,2019,0.0,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.333333,...,0.0,0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
99998013,2019,0.0,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0

In [32]:
# Join discrete and continuous columns together
Curated_Vehicle = Curated_Vehicle.merge(vehicle_disc_df, on = keepkeylist, how = 'inner')
del vehicle_disc_df
display(Curated_Vehicle)

,trans_tracking_nbr,Year,min_annualmileage,min_bipdsymbol,min_collisionsymbol,min_compsymbol,min_medpipsymbol,min_mileagetowork,min_underinsuredmotoristspropertydamagelimit,min_vehicleage,...,vehicletype_vanbus,vehicletype_nan,uninsuredmotoristspropertydamagedeductible_100,uninsuredmotoristspropertydamagedeductible_200,uninsuredmotoristspropertydamagedeductible_250,uninsuredmotoristspropertydamagedeductible_nodeductible,uninsuredmotoristspropertydamagedeductible_nan,uninsuredmotoristspropertydamageind_n,uninsuredmotoristspropertydamageind_y,uninsuredmotoristspropertydamageind_nan
0,65281610,2018,2954.491724,270.0,2.0,2.0,475.0,NaN,NaN,8.0,...,0.0,0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
1,65384471,2018,2954.491724,295.0,32.0,38.0,465.0,NaN,NaN,3.0,...,0.0,0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
2,65283564,2018,2954.491724,295.0,22.0,21.0,465.0,NaN,NaN,2.0,...,0.0,0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
3,65383455,2018,2954.491724,290.0,17.0,21.0,475.0,NaN,NaN,2.0,...,0.0,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4,65283567,2018,2954.491724,290.0,3.0,3.0,485.0,NaN,NaN,6.0,...,0.0,0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
717455,3914185,2014,1400.000000,310.0,11.0,11.0,480.0,NaN,NaN,6.0,...,0.0,0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
717456,3915185,2014,1400.000000,315.0,45.0,22.0,530.0,NaN,NaN,3.0,...,0.0,0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
717457,3915187,2014,1400.000000,285.0,23.0,19.0,490.0,NaN,NaN,2.0,...,0.0,0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
717458,3918187,2014,1400.000000,300.0,16.0,16.0,500.0,NaN,NaN,14.0,...,0.0,0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
717459,3920186,2014,1400.000000,290.0,15.0,15.0,495.0,NaN,NaN,5.0,...,0.0,0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0

In [33]:
# Add count of secondary key
secondary_count_df = count_distinct(vehicle_data, keepkeylist, 'vehiclecount')
Curated_Vehicle = Curated_Vehicle.merge(secondary_count_df, on=keepkeylist, how='inner')
del secondary_count_df
Curated_Vehicle

,trans_tracking_nbr,Year,min_annualmileage,min_bipdsymbol,min_collisionsymbol,min_compsymbol,min_medpipsymbol,min_mileagetowork,min_underinsuredmotoristspropertydamagelimit,min_vehicleage,...,vehicletype_nan,uninsuredmotoristspropertydamagedeductible_100,uninsuredmotoristspropertydamagedeductible_200,uninsuredmotoristspropertydamagedeductible_250,uninsuredmotoristspropertydamagedeductible_nodeductible,uninsuredmotoristspropertydamagedeductible_nan,uninsuredmotoristspropertydamageind_n,uninsuredmotoristspropertydamageind_y,uninsuredmotoristspropertydamageind_nan,vehiclecount
0,65281610,2018,2954.491724,270.0,2.0,2.0,475.0,NaN,NaN,8.0,...,0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,3
1,65384471,2018,2954.491724,295.0,32.0,38.0,465.0,NaN,NaN,3.0,...,0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1
2,65283564,2018,2954.491724,295.0,22.0,21.0,465.0,NaN,NaN,2.0,...,0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,2
3,65383455,2018,2954.491724,290.0,17.0,21.0,475.0,NaN,NaN,2.0,...,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,2
4,65283567,2018,2954.491724,290.0,3.0,3.0,485.0,NaN,NaN,6.0,...,0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
717455,3914185,2014,1400.000000,310.0,11.0,11.0,480.0,NaN,NaN,6.0,...,0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1
717456,3915185,2014,1400.000000,315.0,45.0,22.0,530.0,NaN,NaN,3.0,...,0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1
717457,3915187,2014,1400.000000,285.0,23.0,19.0,490.0,NaN,NaN,2.0,...,0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1
717458,3918187,2014,1400.000000,300.0,16.0,16.0,500.0,NaN,NaN,14.0,...,0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1
717459,3920186,2014,1400.000000,290.0,15.0,15.0,495.0,NaN,NaN,5.0,...,0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,2

In [34]:
Curated_Vehicle.to_csv("Curated_Vehicle.csv")

## Fully Pre-Process Operator Dataset (Secondary File)

In [35]:
operator_dict = load_json_dict('col_types/operator_level_dict.json')
display(operator_dict)

{'personsage': 'continuous',
 'yearslicensed': 'continuous',
 'dateofbirth': 'other',
 'ratinganalysisoperatorclasscode': 'other',
 'licensestate': 'other',
 'distancetoschool': 'discrete',
 'accesstovehicleind': 'discrete',
 'activedutyalertind': 'discrete',
 'arrestedorconvicted': 'discrete',
 'awayatschoolind': 'discrete',
 'defensivedrivcourseind': 'discrete',
 'educationstatus': 'discrete',
 'engagedind': 'discrete',
 'fulltimestudent': 'discrete',
 'gender': 'discrete',
 'goodstudentcert': 'discrete',
 'gradepointavg': 'discrete',
 'identitytheftvictimalertind': 'discrete',
 'occupation': 'discrete',
 'operatorstatus': 'discrete',
 'relationship': 'discrete',
 'retiredind': 'discrete',
 'trans_tracking_nbr': 'key',
 'clientid': 'key',
 'residentoperatorlink': 'key'}

In [36]:
# Import vehicle data from sample_quote_level.csv
operator_data = pd.read_csv("operator_level.csv")
#display(vehicle_data.columns)
#print("1")
set(operator_data.columns) - set(operator_dict)
#print("2")
set(operator_dict) - set(operator_data.columns)

set()

In [37]:
# Apply ad-hoc adjustments (ie. reduce number of discrete levels)
#quote_data["Year"] = quote_data["effdate"].apply(lambda X: str(X)[0:4])

In [38]:
# Cast columns to the correct type
for CurColumn in operator_dict.keys():
    if operator_dict[CurColumn] == 'discrete':
        operator_data[CurColumn] = operator_data[CurColumn].apply(str)
    elif operator_dict[CurColumn] == 'continuous':
        operator_data[CurColumn] = operator_data[CurColumn].apply(float)
    elif operator_dict[CurColumn] == 'key':
        operator_data[CurColumn] = operator_data[CurColumn].apply(str)
    else:
        pass
display(operator_data)

,trans_tracking_nbr,accesstovehicleind,activedutyalertind,arrestedorconvicted,awayatschoolind,clientid,dateofbirth,defensivedrivcourseind,distancetoschool,educationstatus,...,licensestate,occupation,operatorstatus,personsage,ratinganalysisoperatorclasscode,relationship,retiredind,residentoperatorlink,yearslicensed,duplicate_clientid?
0,106057351,nan,N,nan,nan,RK7Y2bU8mJz2skx,5/8/1982,nan,nan,nan,...,IL,Other,Active,36.0,A7,SINGLE,nan,16182101.0,20.0,False
1,106057355,nan,nan,nan,nan,RP7XWLJ8lQzA0u4,10/13/1964,None,nan,nan,...,OR,Other,Active,54.0,A3,MARRIED,nan,322773101.0,38.0,False
2,106057355,nan,nan,nan,nan,RP8aCmk8mbz230i,5/18/1963,None,nan,nan,...,OR,Other,Active,56.0,A7,MARRIED,nan,222773101.0,40.0,False
3,106057309,nan,nan,nan,nan,RP7sr728kjz1IYm,3/20/1995,None,nan,None,...,OR,Other,Active,24.0,C4,SINGLE,nan,891773101.0,8.0,False
4,106002666,nan,nan,nan,nan,RP7sr728mpz1IYm,6/10/1970,N,nan,nan,...,GA,Other,Active,48.0,A7,SINGLE,nan,739573101.0,32.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,158383723,nan,nan,nan,nan,S05Vf5l8lQz1UML,6/19/1952,N,nan,nan,...,NV,Other,Active,67.0,A4,SINGLE,nan,465089101.0,51.0,False
1048571,158389831,nan,nan,nan,nan,qaR18d36f3Y7801,4/12/1952,N,nan,nan,...,GA,Other,Active,68.0,A8,MARRIED,nan,356089101.0,52.0,False
1048572,158389831,nan,nan,nan,nan,S05KQKx8lwz1Si6,5/19/1942,N,nan,nan,...,GA,Other,Active,78.0,A4,MARRIED,nan,256089101.0,62.0,False
1048573,158389842,nan,nan,nan,nan,Tna817z3Hnxk645,1/1/1987,nan,nan,nan,...,MN,Other,Active,33.0,A3,SINGLE,nan,166089101.0,17.0,False
1048574,158389749,nan,nan,nan,nan,Ry1Jjlv8kcz1Fvd,3/5/1994,nan,nan,nan,...,MN,Other,Active,26.0,A2,SINGLE,nan,356949101.0,10.0,False

In [39]:
# Append year to secondary dataset and its associated dictionary of data types
operator_data = operator_data.merge(Trans_tracking_nbr_to_year_mapping, on='trans_tracking_nbr', how='inner')
operator_dict["Year"] = "key"

In [40]:
 # Continuous variables -- impute missing values
# Extract list of continuous columns from dictionary
continuouscols = [col for col in operator_dict.keys() if operator_dict[col] == 'continuous']
# Construct dataframe containing means by year (for imputation)
#display(continuouscols)
########################
# Impute means by year #
########################
means_by_year = get_means_by_year(operator_data, continuouscols, "Year") 
# Impute missing continuous variables
operator_data = impute_missing_by_year(operator_data, continuouscols, "Year", means_by_year)
del means_by_year
##########################################
# Impute means across all years          #
# ... for when column not used in a year #
##########################################
# Construct dataframe containing overall means (for imputation)
means_overall = get_means_overall(operator_data, continuouscols)
# Impute missing continuous variables
operator_data = impute_missing_overall(operator_data, continuouscols, means_overall)
del means_overall
display(operator_data)

,trans_tracking_nbr,accesstovehicleind,activedutyalertind,arrestedorconvicted,awayatschoolind,clientid,dateofbirth,defensivedrivcourseind,distancetoschool,educationstatus,...,personsage,ratinganalysisoperatorclasscode,relationship,retiredind,residentoperatorlink,yearslicensed,duplicate_clientid?,Year,personsage_missing_ind,yearslicensed_missing_ind
0,106057351,nan,N,nan,nan,RK7Y2bU8mJz2skx,5/8/1982,nan,nan,nan,...,36.0,A7,SINGLE,nan,16182101.0,20.0,False,2019,0,0
1,106057355,nan,nan,nan,nan,RP7XWLJ8lQzA0u4,10/13/1964,None,nan,nan,...,54.0,A3,MARRIED,nan,322773101.0,38.0,False,2019,0,0
2,106057355,nan,nan,nan,nan,RP8aCmk8mbz230i,5/18/1963,None,nan,nan,...,56.0,A7,MARRIED,nan,222773101.0,40.0,False,2019,0,0
3,106057309,nan,nan,nan,nan,RP7sr728kjz1IYm,3/20/1995,None,nan,None,...,24.0,C4,SINGLE,nan,891773101.0,8.0,False,2019,0,0
4,106002666,nan,nan,nan,nan,RP7sr728mpz1IYm,6/10/1970,N,nan,nan,...,48.0,A7,SINGLE,nan,739573101.0,32.0,False,2019,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,187824281,nan,nan,nan,nan,SJQ8V5q8lez1LmK,7/17/1974,nan,nan,nan,...,46.0,A3,MARRIED,nan,295882201.0,30.0,False,2021,0,0
1048571,187820351,nan,nan,nan,nan,qdk1B94Fqwx5808,6/7/1986,nan,nan,nan,...,34.0,A7,MARRIED,nan,960782201.0,18.0,False,2021,0,0
1048572,187820351,nan,nan,nan,nan,SHG24fy8klzaPOK,9/27/1983,nan,nan,nan,...,37.0,A3,MARRIED,nan,860782201.0,21.0,False,2021,0,0
1048573,187821346,nan,nan,nan,nan,LPIxol3DIs31816,9/23/1979,nan,nan,nan,...,41.0,A7,MARRIED,nan,975882201.0,25.0,False,2021,0,0
1048574,187821346,nan,nan,nan,nan,LPIxsp3D3Pt0410,8/11/1975,nan,nan,nan,...,45.0,A3,MARRIED,nan,875882201.0,29.0,False,2021,0,0

In [41]:
# Construct curated dataset
keepkeylist = list(set([col for col in operator_dict.keys() if operator_dict[col] == 'key']) - set(["residentoperatorlink","clientid"]))
# If modelyear converted to a key, don't forget to get rid of it
#keepkeylist = [col for col in vehicle_dict.keys() if vehicle_dict[col] == 'key']
display(keepkeylist)
Curated_Operator = operator_data[keepkeylist].drop_duplicates()
Curated_Operator

['trans_tracking_nbr', 'Year']

        trans_tracking_nbr  Year
0                106057351  2019
1                106057355  2019
3                106057309  2019
4                106002666  2019
5                106055490  2019
...                    ...   ...
1048567          187782644  2021
1048568          187785846  2021
1048569          187824281  2021
1048571          187820351  2021
1048573          187821346  2021

[656322 rows x 2 columns]

In [42]:
# Process continuous variables
cont_df = cont_agg(operator_data, continuouscols, keepkeylist)
Curated_Operator = Curated_Operator.merge(cont_df, on=keepkeylist, how='inner')
del cont_df
display(Curated_Operator)

,trans_tracking_nbr,Year,min_personsage,min_yearslicensed,max_personsage,max_yearslicensed,mean_personsage,mean_yearslicensed,mean_personsage_missing_ind,mean_yearslicensed_missing_ind
0,106057351,2019,36.0,20.0,36.0,20.0,36.0,20.0,0.0,0.0
1,106057355,2019,54.0,38.0,56.0,40.0,55.0,39.0,0.0,0.0
2,106057309,2019,24.0,8.0,24.0,8.0,24.0,8.0,0.0,0.0
3,106002666,2019,48.0,32.0,48.0,32.0,48.0,32.0,0.0,0.0
4,106055490,2019,18.0,2.0,35.0,19.0,26.5,10.5,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
656317,187782644,2021,37.0,21.0,37.0,21.0,37.0,21.0,0.0,0.0
656318,187785846,2021,76.0,60.0,76.0,60.0,76.0,60.0,0.0,0.0
656319,187824281,2021,46.0,30.0,50.0,34.0,48.0,32.0,0.0,0.0
656320,187820351,2021,34.0,18.0,37.0,21.0,35.5,19.5,0.0,0.0
656321,187821346,2021,41.0,25.0,45.0,29.0,43.0,27.0,0.0,0.0

In [43]:
 # Process discrete variables
discretecols = [col for col in operator_dict.keys() if operator_dict[col] == 'discrete']
encoded_df, encoded_dict = One_Hot_Encode(operator_data, discretecols, keepkeylist)
encoded_df

,trans_tracking_nbr,accesstovehicleind_n,accesstovehicleind_y,accesstovehicleind_nan,activedutyalertind_n,activedutyalertind_y,activedutyalertind_nan,arrestedorconvicted,awayatschoolind_n,awayatschoolind_y,...,operatorstatus_inactiveoperator,operatorstatus_nonoperator,operatorstatus_nan,relationship_civunion,relationship_domesticpartner,relationship_married,relationship_single,relationship_nan,retiredind,Year
0,106057351,0,0,1,1,0,0,NaN,0,0,...,0,0,0,0,0,0,1,0,NaN,2019
1,106057355,0,0,1,0,0,1,NaN,0,0,...,0,0,0,0,0,1,0,0,NaN,2019
2,106057355,0,0,1,0,0,1,NaN,0,0,...,0,0,0,0,0,1,0,0,NaN,2019
3,106057309,0,0,1,0,0,1,NaN,0,0,...,0,0,0,0,0,0,1,0,NaN,2019
4,106002666,0,0,1,0,0,1,NaN,0,0,...,0,0,0,0,0,0,1,0,NaN,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,187824281,0,0,1,0,0,1,NaN,0,0,...,0,0,0,0,0,1,0,0,NaN,2021
1048571,187820351,0,0,1,0,0,1,NaN,0,0,...,0,0,0,0,0,1,0,0,NaN,2021
1048572,187820351,0,0,1,0,0,1,NaN,0,0,...,0,0,0,0,0,1,0,0,NaN,2021
1048573,187821346,0,0,1,0,0,1,NaN,0,0,...,0,0,0,0,0,1,0,0,NaN,2021
1048574,187821346,0,0,1,0,0,1,NaN,0,0,...,0,0,0,0,0,1,0,0,NaN,2021

In [44]:
# Aggregate discrete variables
operator_disc_df,aggregated_dict = aggregate_discrete(encoded_df,keepkeylist,encoded_dict) #DISCRETE AGGREGATION
del encoded_df
display(operator_disc_df)

,,accesstovehicleind_n,accesstovehicleind_y,accesstovehicleind_nan,activedutyalertind_n,activedutyalertind_y,activedutyalertind_nan,arrestedorconvicted,awayatschoolind_n,awayatschoolind_y,awayatschoolind_nan,...,operatorstatus_addedfromprop,operatorstatus_inactiveoperator,operatorstatus_nonoperator,operatorstatus_nan,relationship_civunion,relationship_domesticpartner,relationship_married,relationship_single,relationship_nan,retiredind
trans_tracking_nbr,Year,,,,,,,,,,,,,,,,,,,,,
100000538,2019,0.0,0.0,1.0,1.000000,0.0,0.000000,NaN,0.000000,0.0,1.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN
100000594,2019,0.0,0.0,1.0,1.000000,0.0,0.000000,NaN,0.000000,0.0,1.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN
100000598,2019,0.0,0.0,1.0,1.000000,0.0,0.000000,NaN,0.000000,0.0,1.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN
100000639,2019,0.0,0.0,1.0,1.000000,0.0,0.000000,NaN,0.000000,0.0,1.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN
100000656,2019,0.0,0.0,1.0,1.000000,0.0,0.000000,NaN,0.000000,0.0,1.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99997912,2019,0.0,0.0,1.0,1.000000,0.0,0.000000,NaN,0.000000,0.0,1.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN
99997981,2019,0.0,0.0,1.0,1.000000,0.0,0.000000,NaN,0.000000,0.0,1.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN
99997993,2019,0.0,0.0,1.0,1.000000,0.0,0.000000,NaN,0.000000,0.0,1.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN
99998012,2019,0.0,0.0,1.0,0.333333,0.0,0.666667,NaN,0.333333,0.0,0.666667,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN
99998013,2019,0.0,0.0,1.0,0.500000,0.0,0.500000,NaN,0.000000,0.0,1.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN

In [45]:
# Join discrete and continuous columns together
Curated_Operator = Curated_Operator.merge(operator_disc_df, on = keepkeylist, how = 'inner')
del operator_disc_df
display(Curated_Operator)

,trans_tracking_nbr,Year,min_personsage,min_yearslicensed,max_personsage,max_yearslicensed,mean_personsage,mean_yearslicensed,mean_personsage_missing_ind,mean_yearslicensed_missing_ind,...,operatorstatus_addedfromprop,operatorstatus_inactiveoperator,operatorstatus_nonoperator,operatorstatus_nan,relationship_civunion,relationship_domesticpartner,relationship_married,relationship_single,relationship_nan,retiredind
0,106057351,2019,36.0,20.0,36.0,20.0,36.0,20.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN
1,106057355,2019,54.0,38.0,56.0,40.0,55.0,39.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN
2,106057309,2019,24.0,8.0,24.0,8.0,24.0,8.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN
3,106002666,2019,48.0,32.0,48.0,32.0,48.0,32.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN
4,106055490,2019,18.0,2.0,35.0,19.0,26.5,10.5,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
656317,187782644,2021,37.0,21.0,37.0,21.0,37.0,21.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN
656318,187785846,2021,76.0,60.0,76.0,60.0,76.0,60.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN
656319,187824281,2021,46.0,30.0,50.0,34.0,48.0,32.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN
656320,187820351,2021,34.0,18.0,37.0,21.0,35.5,19.5,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN
656321,187821346,2021,41.0,25.0,45.0,29.0,43.0,27.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN

In [46]:
# Add count of secondary key
secondary_count_df = count_distinct(operator_data, keepkeylist, 'operatorcount')
Curated_Operator = Curated_Operator.merge(secondary_count_df, on=keepkeylist, how='inner')
del secondary_count_df
Curated_Operator

,trans_tracking_nbr,Year,min_personsage,min_yearslicensed,max_personsage,max_yearslicensed,mean_personsage,mean_yearslicensed,mean_personsage_missing_ind,mean_yearslicensed_missing_ind,...,operatorstatus_inactiveoperator,operatorstatus_nonoperator,operatorstatus_nan,relationship_civunion,relationship_domesticpartner,relationship_married,relationship_single,relationship_nan,retiredind,operatorcount
0,106057351,2019,36.0,20.0,36.0,20.0,36.0,20.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,1
1,106057355,2019,54.0,38.0,56.0,40.0,55.0,39.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN,2
2,106057309,2019,24.0,8.0,24.0,8.0,24.0,8.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,1
3,106002666,2019,48.0,32.0,48.0,32.0,48.0,32.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,1
4,106055490,2019,18.0,2.0,35.0,19.0,26.5,10.5,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
656317,187782644,2021,37.0,21.0,37.0,21.0,37.0,21.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,1
656318,187785846,2021,76.0,60.0,76.0,60.0,76.0,60.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,1
656319,187824281,2021,46.0,30.0,50.0,34.0,48.0,32.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN,2
656320,187820351,2021,34.0,18.0,37.0,21.0,35.5,19.5,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN,2
656321,187821346,2021,41.0,25.0,45.0,29.0,43.0,27.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN,2

In [47]:
Curated_Operator.to_csv("Curated_Operator.csv")

### Merge Datasets Together

In [48]:
Merged = Curated_Quote.merge(Curated_Vehicle, on=keepkeylist, how ='inner').merge(Curated_Operator, on=keepkeylist, how ='inner')
del Curated_Quote, Curated_Operator, Curated_Vehicle
Merged

,trans_tracking_nbr,Year,min_age_oldest_driver,min_age_youngest_driver,min_cbr,min_cbr_insufficientcredit_ind,min_cbr_nohit_ind,min_cbrscore,min_chargeable13,min_chargeable45,...,operatorstatus_inactiveoperator,operatorstatus_nonoperator,operatorstatus_nan,relationship_civunion,relationship_domesticpartner,relationship_married,relationship_single,relationship_nan,retiredind,operatorcount
0,806186,2014,29.0,28.0,3.256082,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.000000,0.000000,0.0,NaN,2
1,3437185,2014,53.0,53.0,3.256082,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.000000,0.000000,0.0,NaN,2
2,3440190,2014,34.0,34.0,3.256082,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,1.000000,0.0,NaN,1
3,3441186,2014,48.0,48.0,3.256082,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.000000,0.000000,0.0,NaN,2
4,3442186,2014,54.0,54.0,3.256082,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,1.000000,0.0,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
656317,47433200,2017,67.0,67.0,9.000000,0.0,0.0,522.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,1.000000,0.0,NaN,1
656318,38302236,2017,40.0,33.0,3.501901,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.000000,0.000000,0.0,NaN,2
656319,38287210,2017,26.0,26.0,3.501901,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,1.000000,0.0,NaN,1
656320,38302245,2017,22.0,22.0,3.501901,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,1.000000,0.0,NaN,1
656321,47449200,2017,41.0,17.0,3.501901,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.666667,0.333333,0.0,NaN,3

## Normalize columns

In [49]:
# Specify columns to normalize by year (all other columns are normalized overall / across all years)
NormalizeByYear = [col for col in Merged.columns if col not in keepkeylist and 'premium' in col]

In [50]:
# Normalizing columns overall
columns = [col for col in Merged.columns if col not in keepkeylist and col not in NormalizeByYear]
print("Normalizing columns {}".format(columns))
print("Merged results prior to normalization have dimensions {}".format(Merged.shape))
Merged = normalize_data(Merged, columns)
print("Merged results after normalization have dimensions {}".format(Merged.shape))
#display(time.time() - initial)
display(Merged)

Normalizing columns ['min_age_oldest_driver', 'min_age_youngest_driver', 'min_cbr', 'min_cbr_insufficientcredit_ind', 'min_cbr_nohit_ind', 'min_cbrscore', 'min_chargeable13', 'min_chargeable45', 'min_drivers', 'min_newest_vehicle', 'min_oldest_vehicle', 'min_pd_limit', 'min_qtever', 'min_vehicles', 'max_age_oldest_driver', 'max_age_youngest_driver', 'max_cbr', 'max_cbr_insufficientcredit_ind', 'max_cbr_nohit_ind', 'max_cbrscore', 'max_chargeable13', 'max_chargeable45', 'max_drivers', 'max_newest_vehicle', 'max_oldest_vehicle', 'max_pd_limit', 'max_qtever', 'max_vehicles', 'mean_age_oldest_driver', 'mean_age_youngest_driver', 'mean_cbr', 'mean_cbr_insufficientcredit_ind', 'mean_cbr_nohit_ind', 'mean_cbrscore', 'mean_chargeable13', 'mean_chargeable45', 'mean_drivers', 'mean_newest_vehicle', 'mean_oldest_vehicle', 'mean_pd_limit', 'mean_qtever', 'mean_vehicles', 'mean_age_oldest_driver_missing_ind', 'mean_age_youngest_driver_missing_ind', 'mean_cbr_insufficientcredit_ind_missing_ind', 'mean_cbr_missing_ind', 'mean_cbr_nohit_ind_missing_ind', 'mean_cbrscore_missing_ind', 'mean_chargeable13_missing_ind', 'mean_chargeable45_missing_ind', 'mean_drivers_missing_ind', 'mean_newest_vehicle_missing_ind', 'mean_oldest_vehicle_missing_ind', 'mean_pd_limit_missing_ind', 'mean_qtever_missing_ind', 'mean_vehicles_missing_ind', 'requote_n', 'requote_y', 'requote_nan', 'policy_term_12', 'policy_term_6', 'policy_term_nan', 'tenuretype_new', 'tenuretype_nan', 'tenuresub_new', 'tenuresub_nan', 'agent_type_c', 'agent_type_e', 'agent_type_nan', 'office_name_adams', 'office_name_alaska', 'office_name_atlanta', 'office_name_aurora', 'office_name_bond', 'office_name_boone', 'office_name_brown', 'office_name_bureau', 'office_name_calhoun', 'office_name_carolstream', 'office_name_carroll', 'office_name_cascadeseast', 'office_name_cass-morgan', 'office_name_centralalabama', 'office_name_centralmissouri', 'office_name_champaign', 'office_name_chicagonorth', 'office_name_chicagonorthe', 'office_name_chicagosouth', 'office_name_christian', 'office_name_clark', 'office_name_clay', 'office_name_clinton', 'office_name_cntlminnesota', 'office_name_cntrlwashington', 'office_name_coles', 'office_name_crawford', 'office_name_cumberland', 'office_name_dekalb', 'office_name_denvernorth', 'office_name_denversouth', 'office_name_dewitt', 'office_name_douglas', 'office_name_easterniowa', 'office_name_edgar', 'office_name_edwards', 'office_name_effingham', 'office_name_fayette', 'office_name_ford', 'office_name_fortcollins', 'office_name_foxvalley', 'office_name_frankfort', 'office_name_franklin', 'office_name_fulton', 'office_name_gallatin', 'office_name_greaterseattle', 'office_name_greene', 'office_name_grtrmilwaukee', 'office_name_grundy', 'office_name_hamilton', 'office_name_hancock', 'office_name_henderson', 'office_name_henry', 'office_name_hollywood', 'office_name_iowaagency', 'office_name_iroquois', 'office_name_jackson', 'office_name_jasper', 'office_name_jefferson', 'office_name_jersey', 'office_name_jodaviess', 'office_name_johnson', 'office_name_kankakee', 'office_name_kansascity', 'office_name_kcmetrowest', 'office_name_kendall', 'office_name_knox', 'office_name_lake', 'office_name_lasalle', 'office_name_lawrence', 'office_name_lee', 'office_name_livingston', 'office_name_logan', 'office_name_macon', 'office_name_macoupin', 'office_name_madison', 'office_name_marion', 'office_name_marshall-putnam', 'office_name_mason', 'office_name_massac', 'office_name_mcdonough', 'office_name_mchenry', 'office_name_mclean', 'office_name_menard', 'office_name_mercer', 'office_name_metrowestagncy', 'office_name_midwillamette', 'office_name_minnesotasouth', 'office_name_monroe', 'office_name_montgomery', 'office_name_moultrie', 'office_name_newlenox', 'office_name_northalabama', 'office_name_northatlanta', 'office_name_northdupage', 'office_name_northeastga', 'office_name_northernlights', 'office_name_northernnevada', 'office_name_northwestga', 'office_name_npugetsound', 'office_name_nwill-sdupage', 'office_name_ogle', 'office_name_oklahoma', 'office_name_olympia', 'office_name_orlandpark', 'office_name_peoria', 'office_name_perry', 'office_name_phoenixmetro', 'office_name_piatt', 'office_name_pike', 'office_name_pope-hardin', 'office_name_pulaski-alexandr', 'office_name_randolph', 'office_name_richland', 'office_name_rockisland', 'office_name_saline', 'office_name_sangamon', 'office_name_schaumburg', 'office_name_schuyler', 'office_name_scntrlgeorgia', 'office_name_scott', 'office_name_scragency', 'office_name_sewashington', 'office_name_shelby', 'office_name_southalabama', 'office_name_southeastga', 'office_name_southernarizona', 'office_name_southernnevada', 'office_name_southernoregon', 'office_name_southholland', 'office_name_southwisconsin', 'office_name_spokaneagency', 'office_name_stark', 'office_name_stcharles-elgin', 'office_name_stclair', 'office_name_stclairnorth', 'office_name_stcroixcentral', 'office_name_stephenson', 'office_name_stlouiscentral', 'office_name_stlouisnwest', 'office_name_summitagency', 'office_name_swgeorgia', 'office_name_tacomaagency', 'office_name_tazewell', 'office_name_tennessee', 'office_name_tricity', 'office_name_tualatinvalley', 'office_name_union', 'office_name_vancouver', 'office_name_vermilion', 'office_name_wabash', 'office_name_warren', 'office_name_washington', 'office_name_wayne', 'office_name_westportland', 'office_name_white', 'office_name_whiteside', 'office_name_willamettefalls', 'office_name_willamettevy', 'office_name_williamson', 'office_name_winnebagoagency', 'office_name_woodford', 'office_name_nan', 'quoteloc_inperson', 'quoteloc_online', 'quoteloc_nan', 'bill_mode_annual', 'bill_mode_automonthl', 'bill_mode_monthly', 'bill_mode_quarterly', 'bill_mode_semiannual', 'bill_mode_nan', 'company_ccic', 'company_cmic', 'company_cpic', 'company_nan', 'rateplan_preferred', 'rateplan_special', 'rateplan_standard', 'rateplan_nan', 'upp_n', 'upp_nan', 'autopay_n', 'autopay_y', 'autopay_nan', 'atd_n', 'atd_y', 'atd_nan', 'ddd_n', 'ddd_y', 'ddd_nan', 'ecd_n', 'ecd_y', 'ecd_nan', 'mcd_m', 'mcd_y', 'mcd_nan', 'occupation_discount_e', 'occupation_discount_ef', 'occupation_discount_eft', 'occupation_discount_ep', 'occupation_discount_ept', 'occupation_discount_et', 'occupation_discount_f', 'occupation_discount_fp', 'occupation_discount_ft', 'occupation_discount_h', 'occupation_discount_p', 'occupation_discount_pt', 'occupation_discount_t', 'occupation_discount_nan', 'sdd_n', 'sdd_y', 'sdd_nan', 'nvd_n', 'nvd_y', 'nvd_nan', 'lcd_n', 'lcd_y', 'lcd_nan', 'gdd_n', 'gdd_y', 'gdd_nan', 'gsd_n', 'gsd_y', 'gsd_nan', 'grad_n', 'grad_y', 'grad_nan', 'bi_limit_100000/300000', 'bi_limit_1000000/1000000', 'bi_limit_25000/50000', 'bi_limit_250000/500000', 'bi_limit_30000/60000', 'bi_limit_300000/500000', 'bi_limit_50000/100000', 'bi_limit_500000/1000000', 'bi_limit_500000/500000', 'bi_limit_750000/750000', 'bi_limit_none', 'bi_limit_nan', 'comp_ded_0', 'comp_ded_100', 'comp_ded_1000', 'comp_ded_2000', 'comp_ded_250', 'comp_ded_50', 'comp_ded_500', 'comp_ded_5000', 'comp_ded_nan', 'coll_ded_0', 'coll_ded_100', 'coll_ded_1000', 'coll_ded_2000', 'coll_ded_250', 'coll_ded_50', 'coll_ded_500', 'coll_ded_5000', 'coll_ded_nan', 'pleasure_only_n', 'pleasure_only_y', 'pleasure_only_nan', 'keeper_n', 'keeper_y', 'keeper_nan', 'advance_quote_discount_n', 'advance_quote_discount_y', 'advance_quote_discount_nan', 'dtc_n', 'dtc_nan', 'incident_group_clean', 'incident_group_dirty', 'incident_group_yr45', 'incident_group_nan', 'prior_bi_100000/300000', 'prior_bi_15000/30000', 'prior_bi_20000/40000', 'prior_bi_25000/50000', 'prior_bi_250000/500000', 'prior_bi_30000/60000', 'prior_bi_50000/100000', 'prior_bi_nan', 'married_n', 'married_y', 'married_nan', 'male_n', 'male_y', 'male_nan', 'female_n', 'female_y', 'female_nan', 'mpd_autoagree', 'mpd_autohome', 'mpd_autohomelife', 'mpd_autohomelifeumbrella', 'mpd_autohomeumbrella', 'mpd_autotenant', 'mpd_autotenantlife', 'mpd_autotenantlifeumbrella', 'mpd_autotenantumbrella', 'mpd_none', 'mpd_nan', 'farm_use_n', 'farm_use_y', 'farm_use_nan', 'large_farm_truck_n', 'large_farm_truck_y', 'large_farm_truck_nan', 'semi_farm_truck_n', 'semi_farm_truck_y', 'semi_farm_truck_nan', 'mulq_n', 'mulq_y', 'mulq_nan', 'min_annualmileage', 'min_bipdsymbol', 'min_collisionsymbol', 'min_compsymbol', 'min_medpipsymbol', 'min_mileagetowork', 'min_underinsuredmotoristspropertydamagelimit', 'min_vehicleage', 'min_weeklytowork', 'max_annualmileage', 'max_bipdsymbol', 'max_collisionsymbol', 'max_compsymbol', 'max_medpipsymbol', 'max_mileagetowork', 'max_underinsuredmotoristspropertydamagelimit', 'max_vehicleage', 'max_weeklytowork', 'mean_annualmileage', 'mean_bipdsymbol', 'mean_collisionsymbol', 'mean_compsymbol', 'mean_medpipsymbol', 'mean_mileagetowork', 'mean_underinsuredmotoristspropertydamagelimit', 'mean_vehicleage', 'mean_weeklytowork', 'mean_annualmileage_missing_ind', 'mean_bipdsymbol_missing_ind', 'mean_collisionsymbol_missing_ind', 'mean_compsymbol_missing_ind', 'mean_medpipsymbol_missing_ind', 'mean_mileagetowork_missing_ind', 'mean_underinsuredmotoristspropertydamagelimit_missing_ind', 'mean_vehicleage_missing_ind', 'mean_weeklytowork_missing_ind', 'assignablevehind_n', 'assignablevehind_y', 'assignablevehind_nan', 'collisiondeductible_100', 'collisiondeductible_1000', 'collisiondeductible_200', 'collisiondeductible_2000', 'collisiondeductible_250', 'collisiondeductible_50', 'collisiondeductible_500', 'collisiondeductible_5000', 'collisiondeductible_none', 'collisiondeductible_nan', 'communicationdeviceind_n', 'communicationdeviceind_y', 'communicationdeviceind_nan', 'comprehensivedeductible_100', 'comprehensivedeductible_1000', 'comprehensivedeductible_2000', 'comprehensivedeductible_250', 'comprehensivedeductible_50', 'comprehensivedeductible_500', 'comprehensivedeductible_5000', 'comprehensivedeductible_nodeductible', 'comprehensivedeductible_none', 'comprehensivedeductible_nan', 'emergencyroadservice_n', 'emergencyroadservice_y', 'emergencyroadservice_nan', 'excessvehind_n', 'excessvehind_y', 'excessvehind_nan', 'factoryantitheftdeviceind_n', 'factoryantitheftdeviceind_y', 'factoryantitheftdeviceind_nan', 'highperformanceind_ac', 'highperformanceind_at', 'highperformanceind_n', 'highperformanceind_y', 'highperformanceind_nan', 'makeliteral_acura', 'makeliteral_alfaromeo', 'makeliteral_arcticcat', 'makeliteral_audi', 'makeliteral_bigtex', 'makeliteral_bmw', 'makeliteral_buick', 'makeliteral_can-am', 'makeliteral_canam', 'makeliteral_cati', 'makeliteral_cheerokee', 'makeliteral_cheverolet', 'makeliteral_coach', 'makeliteral_coachmen', 'makeliteral_coleman', 'makeliteral_dadillac', 'makeliteral_damon', 'makeliteral_dodge', 'makeliteral_dutchman', 'makeliteral_featherlite', 'makeliteral_fiat', 'makeliteral_fleetwod', 'makeliteral_ford', 'makeliteral_forest', 'makeliteral_forestriver', 'makeliteral_forrestriver', 'makeliteral_freightliner', 'makeliteral_genes', 'makeliteral_gmc', 'makeliteral_granddesign', 'makeliteral_hallmark', 'makeliteral_hamer', 'makeliteral_harleydavidson', 'makeliteral_harleydavison', 'makeliteral_hartland', 'makeliteral_holiday', 'makeliteral_honda', 'makeliteral_hyundai', 'makeliteral_icecastle', 'makeliteral_indian', 'makeliteral_infiniti', 'makeliteral_internaional', 'makeliteral_interstate', 'makeliteral_isuzu', 'makeliteral_jaguar', 'makeliteral_jayco', 'makeliteral_jeepcj', 'makeliteral_kawasaki', 'makeliteral_kensworth', 'makeliteral_keytston', 'makeliteral_kia', 'makeliteral_ktm', 'makeliteral_lance', 'makeliteral_landrover', 'makeliteral_lexus', 'makeliteral_lincoln', 'makeliteral_mack', 'makeliteral_maseratti', 'makeliteral_mazda', 'makeliteral_mercedesbenz', 'makeliteral_merkur', 'makeliteral_mini', 'makeliteral_mitzubishi', 'makeliteral_oldsmobile', 'makeliteral_other', 'makeliteral_pace', 'makeliteral_peterbuilt', 'makeliteral_pj', 'makeliteral_plymoth', 'makeliteral_polar', 'makeliteral_pontiacg6', 'makeliteral_porsche', 'makeliteral_ram', 'makeliteral_rocwood', 'makeliteral_saab', 'makeliteral_salem', 'makeliteral_saturn', 'makeliteral_scion', 'makeliteral_skidoo', 'makeliteral_smart', 'makeliteral_starcrft', 'makeliteral_subaru', 'makeliteral_suzki', 'makeliteral_tcchrysler', 'makeliteral_tesla', 'makeliteral_texas', 'makeliteral_thor', 'makeliteral_timpt', 'makeliteral_tissin', 'makeliteral_trailer', 'makeliteral_triton', 'makeliteral_truimph', 'makeliteral_tyoga', 'makeliteral_utility', 'makeliteral_victoria', 'makeliteral_volkswagon', 'makeliteral_vovlo', 'makeliteral_wilso', 'makeliteral_winnebego', 'makeliteral_yahaha', 'makeliteral_nan', 'safetyglass_n', 'safetyglass_y', 'safetyglass_nan', 'schoolchildrentransportation_n', 'schoolchildrentransportation_y', 'schoolchildrentransportation_nan', 'seasonalvehind_n', 'seasonalvehind_y', 'seasonalvehind_nan', 'snowplowliability_n', 'snowplowliability_y', 'snowplowliability_nan', 'usecd_business', 'usecd_farm', 'usecd_pleasure', 'usecd_toschool', 'usecd_towork', 'usecd_nan', 'vehiclecategory_cycle', 'vehiclecategory_farmveh', 'vehiclecategory_offroadrecveh', 'vehiclecategory_onroadrecveh', 'vehiclecategory_standveh', 'vehiclecategory_trailer', 'vehiclecategory_nan', 'vehicleownership_financed', 'vehicleownership_leased', 'vehicleownership_owned', 'vehicleownership_nan', 'vehicletype_atv', 'vehicletype_cargovan', 'vehicletype_carsuv', 'vehicletype_chopper', 'vehicletype_convan', 'vehicletype_cruistour', 'vehicletype_dualsport', 'vehicletype_dunebuggy', 'vehicletype_golfcart', 'vehicletype_largetruck', 'vehicletype_mopedscootmotorbike', 'vehicletype_motorhome', 'vehicletype_neighelecveh', 'vehicletype_regstan', 'vehicletype_semitrac', 'vehicletype_semitrail', 'vehicletype_snowmobile', 'vehicletype_supersport', 'vehicletype_tracmobileagmach', 'vehicletype_trailbike', 'vehicletype_traveltrail', 'vehicletype_trike', 'vehicletype_truck', 'vehicletype_truckcamp', 'vehicletype_utilitytrail', 'vehicletype_van', 'vehicletype_vanbus', 'vehicletype_nan', 'uninsuredmotoristspropertydamagedeductible_100', 'uninsuredmotoristspropertydamagedeductible_200', 'uninsuredmotoristspropertydamagedeductible_250', 'uninsuredmotoristspropertydamagedeductible_nodeductible', 'uninsuredmotoristspropertydamagedeductible_nan', 'uninsuredmotoristspropertydamageind_n', 'uninsuredmotoristspropertydamageind_y', 'uninsuredmotoristspropertydamageind_nan', 'vehiclecount', 'min_personsage', 'min_yearslicensed', 'max_personsage', 'max_yearslicensed', 'mean_personsage', 'mean_yearslicensed', 'mean_personsage_missing_ind', 'mean_yearslicensed_missing_ind', 'accesstovehicleind_n', 'accesstovehicleind_y', 'accesstovehicleind_nan', 'activedutyalertind_n', 'activedutyalertind_y', 'activedutyalertind_nan', 'arrestedorconvicted', 'awayatschoolind_n', 'awayatschoolind_y', 'awayatschoolind_nan', 'defensivedrivcourseind_cycle', 'defensivedrivcourseind_n', 'defensivedrivcourseind_none', 'defensivedrivcourseind_passengerveh', 'defensivedrivcourseind_passengervehcycle', 'defensivedrivcourseind_y', 'defensivedrivcourseind_nan', 'distancetoschool_100ormore', 'distancetoschool_less100', 'distancetoschool_nan', 'educationstatus_collassocbacc', 'educationstatus_collvoctech', 'educationstatus_gradassoc', 'educationstatus_gradbach', 'educationstatus_highschool', 'educationstatus_homeschool', 'educationstatus_none', 'educationstatus_nan', 'engagedind_n', 'engagedind_y', 'engagedind_nan', 'fulltimestudent', 'gender_f', 'gender_m', 'gender_x', 'gender_nan', 'goodstudentcert', 'gradepointavg_30to34', 'gradepointavg_35above', 'gradepointavg_below30top', 'gradepointavg_none', 'gradepointavg_nan', 'identitytheftvictimalertind_n', 'identitytheftvictimalertind_nan', 'occupation_attorneylegal', 'occupation_constructionlaborer', 'occupation_doctorhealthcarepractitioner', 'occupation_emtparamedic', 'occupation_factoryproduction', 'occupation_farmer', 'occupation_farmhand', 'occupation_financialrep', 'occupation_firefighter', 'occupation_foodpreparationserver', 'occupation_government', 'occupation_homemaker', 'occupation_landscaper', 'occupation_lawenforcement', 'occupation_mailcarrier', 'occupation_mechaniccarpenterelectrician', 'occupation_military', 'occupation_musician', 'occupation_notemployedfulltime', 'occupation_nursehealthcaresupport', 'occupation_officeadministrativesupport', 'occupation_other', 'occupation_realestate', 'occupation_retired', 'occupation_retiredfarmer', 'occupation_sales', 'occupation_selfemployed', 'occupation_socialworker', 'occupation_student', 'occupation_teacher', 'occupation_transportationmaterialmoving', 'occupation_nan', 'operatorstatus_active', 'operatorstatus_addedfromprop', 'operatorstatus_inactiveoperator', 'operatorstatus_nonoperator', 'operatorstatus_nan', 'relationship_civunion', 'relationship_domesticpartner', 'relationship_married', 'relationship_single', 'relationship_nan', 'retiredind', 'operatorcount']
Merged results prior to normalization have dimensions (656322, 728)

c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:179: RuntimeWarning: Mean of empty slice
  mean_ = np.nanmean(X, axis)
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\numpy\lib\nanfunctions.py:1664: RuntimeWarning: Degrees of freedom <= 0 for slice.
  var = nanvar(a, axis=axis, dtype=dtype, out=out, ddof=ddof,
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:187: RuntimeWarning: Mean of empty slice
  mean_1 = np.nanmean(Xr, axis=0)
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:194: UserWarning: Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.
  warnings.warn("Numerical issues were encountered "
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:204: RuntimeWarning: Mean of empty slice
  mean_2 = np.nanmean(Xr, axis=0)
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:211: UserWarning: Numerical issues were encountered when scaling the data and might not be solved. The standard deviation of the data is probably very close to 0.
  warnings.warn("Numerical issues were encountered "
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:179: RuntimeWarning: Mean of empty slice
  mean_ = np.nanmean(X, axis)
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\numpy\lib\nanfunctions.py:1664: RuntimeWarning: Degrees of freedom <= 0 for slice.
  var = nanvar(a, axis=axis, dtype=dtype, out=out, ddof=ddof,
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:187: RuntimeWarning: Mean of empty slice
  mean_1 = np.nanmean(Xr, axis=0)
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:194: UserWarning: Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.
  warnings.warn("Numerical issues were encountered "
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:204: RuntimeWarning: Mean of empty slice
  mean_2 = np.nanmean(Xr, axis=0)
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:211: UserWarning: Numerical issues were encountered when scaling the data and might not be solved. The standard deviation of the data is probably very close to 0.
  warnings.warn("Numerical issues were encountered "
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:179: RuntimeWarning: Mean of empty slice
  mean_ = np.nanmean(X, axis)
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\numpy\lib\nanfunctions.py:1664: RuntimeWarning: Degrees of freedom <= 0 for slice.
  var = nanvar(a, axis=axis, dtype=dtype, out=out, ddof=ddof,
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:187: RuntimeWarning: Mean of empty slice
  mean_1 = np.nanmean(Xr, axis=0)
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:194: UserWarning: Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.
  warnings.warn("Numerical issues were encountered "
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:204: RuntimeWarning: Mean of empty slice
  mean_2 = np.nanmean(Xr, axis=0)
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:211: UserWarning: Numerical issues were encountered when scaling the data and might not be solved. The standard deviation of the data is probably very close to 0.
  warnings.warn("Numerical issues were encountered "
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:179: RuntimeWarning: Mean of empty slice
  mean_ = np.nanmean(X, axis)
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\numpy\lib\nanfunctions.py:1664: RuntimeWarning: Degrees of freedom <= 0 for slice.
  var = nanvar(a, axis=axis, dtype=dtype, out=out, ddof=ddof,
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:187: RuntimeWarning: Mean of empty slice
  mean_1 = np.nanmean(Xr, axis=0)
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:194: UserWarning: Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.
  warnings.warn("Numerical issues were encountered "
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:204: RuntimeWarning: Mean of empty slice
  mean_2 = np.nanmean(Xr, axis=0)
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:211: UserWarning: Numerical issues were encountered when scaling the data and might not be solved. The standard deviation of the data is probably very close to 0.
  warnings.warn("Numerical issues were encountered "
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:179: RuntimeWarning: Mean of empty slice
  mean_ = np.nanmean(X, axis)
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\numpy\lib\nanfunctions.py:1664: RuntimeWarning: Degrees of freedom <= 0 for slice.
  var = nanvar(a, axis=axis, dtype=dtype, out=out, ddof=ddof,
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:187: RuntimeWarning: Mean of empty slice
  mean_1 = np.nanmean(Xr, axis=0)
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:194: UserWarning: Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.
  warnings.warn("Numerical issues were encountered "
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:204: RuntimeWarning: Mean of empty slice
  mean_2 = np.nanmean(Xr, axis=0)
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:211: UserWarning: Numerical issues were encountered when scaling the data and might not be solved. The standard deviation of the data is probably very close to 0.
  warnings.warn("Numerical issues were encountered "
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:179: RuntimeWarning: Mean of empty slice
  mean_ = np.nanmean(X, axis)
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\numpy\lib\nanfunctions.py:1664: RuntimeWarning: Degrees of freedom <= 0 for slice.
  var = nanvar(a, axis=axis, dtype=dtype, out=out, ddof=ddof,
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:187: RuntimeWarning: Mean of empty slice
  mean_1 = np.nanmean(Xr, axis=0)
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:194: UserWarning: Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.
  warnings.warn("Numerical issues were encountered "
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:204: RuntimeWarning: Mean of empty slice
  mean_2 = np.nanmean(Xr, axis=0)
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:211: UserWarning: Numerical issues were encountered when scaling the data and might not be solved. The standard deviation of the data is probably very close to 0.
  warnings.warn("Numerical issues were encountered "

c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:179: RuntimeWarning: Mean of empty slice
  mean_ = np.nanmean(X, axis)
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\numpy\lib\nanfunctions.py:1664: RuntimeWarning: Degrees of freedom <= 0 for slice.
  var = nanvar(a, axis=axis, dtype=dtype, out=out, ddof=ddof,
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:187: RuntimeWarning: Mean of empty slice
  mean_1 = np.nanmean(Xr, axis=0)
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:194: UserWarning: Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.
  warnings.warn("Numerical issues were encountered "
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:204: RuntimeWarning: Mean of empty slice
  mean_2 = np.nanmean(Xr, axis=0)
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:211: UserWarning: Numerical issues were encountered when scaling the data and might not be solved. The standard deviation of the data is probably very close to 0.
  warnings.warn("Numerical issues were encountered "
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:179: RuntimeWarning: Mean of empty slice
  mean_ = np.nanmean(X, axis)
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\numpy\lib\nanfunctions.py:1664: RuntimeWarning: Degrees of freedom <= 0 for slice.
  var = nanvar(a, axis=axis, dtype=dtype, out=out, ddof=ddof,
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:187: RuntimeWarning: Mean of empty slice
  mean_1 = np.nanmean(Xr, axis=0)
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:194: UserWarning: Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.
  warnings.warn("Numerical issues were encountered "
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:204: RuntimeWarning: Mean of empty slice
  mean_2 = np.nanmean(Xr, axis=0)
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:211: UserWarning: Numerical issues were encountered when scaling the data and might not be solved. The standard deviation of the data is probably very close to 0.
  warnings.warn("Numerical issues were encountered "
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:179: RuntimeWarning: Mean of empty slice
  mean_ = np.nanmean(X, axis)
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\numpy\lib\nanfunctions.py:1664: RuntimeWarning: Degrees of freedom <= 0 for slice.
  var = nanvar(a, axis=axis, dtype=dtype, out=out, ddof=ddof,
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:187: RuntimeWarning: Mean of empty slice
  mean_1 = np.nanmean(Xr, axis=0)
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:194: UserWarning: Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.
  warnings.warn("Numerical issues were encountered "
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:204: RuntimeWarning: Mean of empty slice
  mean_2 = np.nanmean(Xr, axis=0)
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:211: UserWarning: Numerical issues were encountered when scaling the data and might not be solved. The standard deviation of the data is probably very close to 0.
  warnings.warn("Numerical issues were encountered "
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:179: RuntimeWarning: Mean of empty slice
  mean_ = np.nanmean(X, axis)
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\numpy\lib\nanfunctions.py:1664: RuntimeWarning: Degrees of freedom <= 0 for slice.
  var = nanvar(a, axis=axis, dtype=dtype, out=out, ddof=ddof,
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:187: RuntimeWarning: Mean of empty slice
  mean_1 = np.nanmean(Xr, axis=0)
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:194: UserWarning: Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.
  warnings.warn("Numerical issues were encountered "
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:204: RuntimeWarning: Mean of empty slice
  mean_2 = np.nanmean(Xr, axis=0)
c:\users\id75147\appdata\local\programs\python\python39\lib\site-packages\sklearn\preprocessing\_data.py:211: UserWarning: Numerical issues were encountered when scaling the data and might not be solved. The standard deviation of the data is probably very close to 0.
  warnings.warn("Numerical issues were encountered "

Merged results after normalization have dimensions (656322, 728)

,trans_tracking_nbr,Year,min_age_oldest_driver,min_age_youngest_driver,min_cbr,min_cbr_insufficientcredit_ind,min_cbr_nohit_ind,min_cbrscore,min_chargeable13,min_chargeable45,...,operatorstatus_inactiveoperator,operatorstatus_nonoperator,operatorstatus_nan,relationship_civunion,relationship_domesticpartner,relationship_married,relationship_single,relationship_nan,retiredind,operatorcount
0,806186,2014,-0.984062,-0.232180,-0.005260,-0.176531,-0.113304,-1.693483,-0.504462,-0.303277,...,-0.049345,-0.149307,-0.013952,-0.016481,-0.061487,1.372892,-1.361077,-0.014038,NaN,0.528600
1,3437185,2014,0.473097,0.061800,-0.005260,-0.176531,-0.113304,-1.693483,-0.504462,-0.303277,...,-0.049345,-0.149307,-0.013952,-0.016481,-0.061487,1.372892,-1.361077,-0.014038,NaN,0.528600
2,3440190,2014,-0.680488,-0.161625,-0.005260,-0.176531,-0.113304,-1.693483,-0.504462,-0.303277,...,-0.049345,-0.149307,-0.013952,-0.016481,-0.061487,-0.789905,0.796782,-0.014038,NaN,-0.785192
3,3441186,2014,0.169522,0.003004,-0.005260,-0.176531,-0.113304,-1.693483,-0.504462,-0.303277,...,-0.049345,-0.149307,-0.013952,-0.016481,-0.061487,1.372892,-1.361077,-0.014038,NaN,0.528600
4,3442186,2014,0.533812,0.073559,-0.005260,-0.176531,-0.113304,-1.693483,-0.504462,-0.303277,...,-0.049345,-0.149307,-0.013952,-0.016481,-0.061487,-0.789905,0.796782,-0.014038,NaN,-0.785192
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
656317,47433200,2017,1.323106,0.226429,2.570008,-0.176531,-0.113304,0.024326,-0.504462,-0.303277,...,-0.049345,-0.149307,-0.013952,-0.016481,-0.061487,-0.789905,0.796782,-0.014038,NaN,-0.785192
656318,38302236,2017,-0.316198,-0.173384,0.104952,-0.176531,-0.113304,-1.693483,-0.504462,-0.303277,...,-0.049345,-0.149307,-0.013952,-0.016481,-0.061487,1.372892,-1.361077,-0.014038,NaN,0.528600
656319,38287210,2017,-1.166207,-0.255699,0.104952,-0.176531,-0.113304,-1.693483,-0.504462,-0.303277,...,-0.049345,-0.149307,-0.013952,-0.016481,-0.061487,-0.789905,0.796782,-0.014038,NaN,-0.785192
656320,38302245,2017,-1.409067,-0.302735,0.104952,-0.176531,-0.113304,-1.693483,-0.504462,-0.303277,...,-0.049345,-0.149307,-0.013952,-0.016481,-0.061487,-0.789905,0.796782,-0.014038,NaN,-0.785192
656321,47449200,2017,-0.255483,-0.361531,0.104952,-0.176531,-0.113304,-1.693483,-0.504462,-0.303277,...,-0.049345,-0.149307,-0.013952,-0.016481,-0.061487,0.651960,-0.641791,-0.014038,NaN,1.842391

In [51]:
# Normalize columns by year
columns = [col for col in Merged.columns if col not in keepkeylist and col in NormalizeByYear]
print("Normalizing columns {}".format(columns))
print("Merged results prior to normalization have dimensions {}".format(Merged.shape))
Merged = normalize_data(Merged, columns, year_col = 'Year')
print("Merged results after normalization have dimensions {}".format(Merged.shape))
display(Merged)

Normalizing columns ['min_premium', 'max_premium', 'mean_premium', 'mean_premium_missing_ind']
Merged results prior to normalization have dimensions (656322, 728)
Merged results after normalization have dimensions (656322, 728)

,trans_tracking_nbr,Year,min_age_oldest_driver,min_age_youngest_driver,min_cbr,min_cbr_insufficientcredit_ind,min_cbr_nohit_ind,min_cbrscore,min_chargeable13,min_chargeable45,...,operatorstatus_inactiveoperator,operatorstatus_nonoperator,operatorstatus_nan,relationship_civunion,relationship_domesticpartner,relationship_married,relationship_single,relationship_nan,retiredind,operatorcount
0,806186,2014,-0.984062,-0.232180,-0.005260,-0.176531,-0.113304,-1.693483,-0.504462,-0.303277,...,-0.049345,-0.149307,-0.013952,-0.016481,-0.061487,1.372892,-1.361077,-0.014038,NaN,0.528600
1,3437185,2014,0.473097,0.061800,-0.005260,-0.176531,-0.113304,-1.693483,-0.504462,-0.303277,...,-0.049345,-0.149307,-0.013952,-0.016481,-0.061487,1.372892,-1.361077,-0.014038,NaN,0.528600
2,3440190,2014,-0.680488,-0.161625,-0.005260,-0.176531,-0.113304,-1.693483,-0.504462,-0.303277,...,-0.049345,-0.149307,-0.013952,-0.016481,-0.061487,-0.789905,0.796782,-0.014038,NaN,-0.785192
3,3441186,2014,0.169522,0.003004,-0.005260,-0.176531,-0.113304,-1.693483,-0.504462,-0.303277,...,-0.049345,-0.149307,-0.013952,-0.016481,-0.061487,1.372892,-1.361077,-0.014038,NaN,0.528600
4,3442186,2014,0.533812,0.073559,-0.005260,-0.176531,-0.113304,-1.693483,-0.504462,-0.303277,...,-0.049345,-0.149307,-0.013952,-0.016481,-0.061487,-0.789905,0.796782,-0.014038,NaN,-0.785192
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
656317,47433200,2017,1.323106,0.226429,2.570008,-0.176531,-0.113304,0.024326,-0.504462,-0.303277,...,-0.049345,-0.149307,-0.013952,-0.016481,-0.061487,-0.789905,0.796782,-0.014038,NaN,-0.785192
656318,38302236,2017,-0.316198,-0.173384,0.104952,-0.176531,-0.113304,-1.693483,-0.504462,-0.303277,...,-0.049345,-0.149307,-0.013952,-0.016481,-0.061487,1.372892,-1.361077,-0.014038,NaN,0.528600
656319,38287210,2017,-1.166207,-0.255699,0.104952,-0.176531,-0.113304,-1.693483,-0.504462,-0.303277,...,-0.049345,-0.149307,-0.013952,-0.016481,-0.061487,-0.789905,0.796782,-0.014038,NaN,-0.785192
656320,38302245,2017,-1.409067,-0.302735,0.104952,-0.176531,-0.113304,-1.693483,-0.504462,-0.303277,...,-0.049345,-0.149307,-0.013952,-0.016481,-0.061487,-0.789905,0.796782,-0.014038,NaN,-0.785192
656321,47449200,2017,-0.255483,-0.361531,0.104952,-0.176531,-0.113304,-1.693483,-0.504462,-0.303277,...,-0.049345,-0.149307,-0.013952,-0.016481,-0.061487,0.651960,-0.641791,-0.014038,NaN,1.842391

In [52]:
# Dropping columns that have 100% NaN values
for col in Merged.columns:
    if Merged[col].isnull().any() or len(Merged[col].unique())<=1:
        Merged.drop(col, inplace = True, axis = 1)

In [53]:
# Construct data dictionary (keys mapped as 'str', values to use in auto-encoder mapped as 'float')
DataDictionary = {X:'str' if X in keepkeylist else 'float' for X in Merged.columns}
DataDictionary

{'trans_tracking_nbr': 'str',
 'Year': 'str',
 'min_age_oldest_driver': 'float',
 'min_age_youngest_driver': 'float',
 'min_cbr': 'float',
 'min_cbr_insufficientcredit_ind': 'float',
 'min_cbr_nohit_ind': 'float',
 'min_cbrscore': 'float',
 'min_chargeable13': 'float',
 'min_chargeable45': 'float',
 'min_drivers': 'float',
 'min_newest_vehicle': 'float',
 'min_oldest_vehicle': 'float',
 'min_pd_limit': 'float',
 'min_premium': 'float',
 'min_qtever': 'float',
 'min_vehicles': 'float',
 'max_age_oldest_driver': 'float',
 'max_age_youngest_driver': 'float',
 'max_cbr': 'float',
 'max_cbr_insufficientcredit_ind': 'float',
 'max_cbr_nohit_ind': 'float',
 'max_cbrscore': 'float',
 'max_chargeable13': 'float',
 'max_chargeable45': 'float',
 'max_drivers': 'float',
 'max_newest_vehicle': 'float',
 'max_oldest_vehicle': 'float',
 'max_pd_limit': 'float',
 'max_premium': 'float',
 'max_qtever': 'float',
 'max_vehicles': 'float',
 'mean_age_oldest_driver': 'float',
 'mean_age_youngest_driver': 'float',
 'mean_cbr': 'float',
 'mean_cbr_insufficientcredit_ind': 'float',
 'mean_cbr_nohit_ind': 'float',
 'mean_cbrscore': 'float',
 'mean_chargeable13': 'float',
 'mean_chargeable45': 'float',
 'mean_drivers': 'float',
 'mean_newest_vehicle': 'float',
 'mean_oldest_vehicle': 'float',
 'mean_pd_limit': 'float',
 'mean_premium': 'float',
 'mean_qtever': 'float',
 'mean_vehicles': 'float',
 'mean_age_oldest_driver_missing_ind': 'float',
 'mean_cbr_missing_ind': 'float',
 'mean_newest_vehicle_missing_ind': 'float',
 'mean_oldest_vehicle_missing_ind': 'float',
 'mean_pd_limit_missing_ind': 'float',
 'requote_n': 'float',
 'requote_y': 'float',
 'policy_term_12': 'float',
 'policy_term_6': 'float',
 'tenuresub_new': 'float',
 'tenuresub_nan': 'float',
 'agent_type_c': 'float',
 'agent_type_e': 'float',
 'office_name_adams': 'float',
 'office_name_alaska': 'float',
 'office_name_atlanta': 'float',
 'office_name_aurora': 'float',
 'office_name_bond': 'float',
 'office_name_boone': 'float',
 'office_name_brown': 'float',
 'office_name_bureau': 'float',
 'office_name_calhoun': 'float',
 'office_name_carolstream': 'float',
 'office_name_carroll': 'float',
 'office_name_cascadeseast': 'float',
 'office_name_cass-morgan': 'float',
 'office_name_centralalabama': 'float',
 'office_name_centralmissouri': 'float',
 'office_name_champaign': 'float',
 'office_name_chicagonorth': 'float',
 'office_name_chicagonorthe': 'float',
 'office_name_chicagosouth': 'float',
 'office_name_christian': 'float',
 'office_name_clark': 'float',
 'office_name_clay': 'float',
 'office_name_clinton': 'float',
 'office_name_cntlminnesota': 'float',
 'office_name_cntrlwashington': 'float',
 'office_name_coles': 'float',
 'office_name_crawford': 'float',
 'office_name_cumberland': 'float',
 'office_name_dekalb': 'float',
 'office_name_denvernorth': 'float',
 'office_name_denversouth': 'float',
 'office_name_dewitt': 'float',
 'office_name_douglas': 'float',
 'office_name_easterniowa': 'float',
 'office_name_edgar': 'float',
 'office_name_edwards': 'float',
 'office_name_effingham': 'float',
 'office_name_fayette': 'float',
 'office_name_ford': 'float',
 'office_name_fortcollins': 'float',
 'office_name_foxvalley': 'float',
 'office_name_frankfort': 'float',
 'office_name_franklin': 'float',
 'office_name_fulton': 'float',
 'office_name_gallatin': 'float',
 'office_name_greaterseattle': 'float',
 'office_name_greene': 'float',
 'office_name_grtrmilwaukee': 'float',
 'office_name_grundy': 'float',
 'office_name_hamilton': 'float',
 'office_name_hancock': 'float',
 'office_name_henderson': 'float',
 'office_name_henry': 'float',
 'office_name_hollywood': 'float',
 'office_name_iowaagency': 'float',
 'office_name_iroquois': 'float',
 'office_name_jackson': 'float',
 'office_name_jasper': 'float',
 'office_name_jefferson': 'float',
 'office_name_jersey': 'float',
 'office_name_jodaviess': 'float',
 'office_name_johnson': 'float',
 'office_name_kankakee': 'float',
 'office_name_kansascity': 'float',
 'office_name_kcmetrowest': 'float',
 'office_name_kendall': 'float',
 'office_name_knox': 'float',
 'office_name_lake': 'float',
 'office_name_lasalle': 'float',
 'office_name_lawrence': 'float',
 'office_name_lee': 'float',
 'office_name_livingston': 'float',
 'office_name_logan': 'float',
 'office_name_macon': 'float',
 'office_name_macoupin': 'float',
 'office_name_madison': 'float',
 'office_name_marion': 'float',
 'office_name_marshall-putnam': 'float',
 'office_name_mason': 'float',
 'office_name_massac': 'float',
 'office_name_mcdonough': 'float',
 'office_name_mchenry': 'float',
 'office_name_mclean': 'float',
 'office_name_menard': 'float',
 'office_name_mercer': 'float',
 'office_name_metrowestagncy': 'float',
 'office_name_midwillamette': 'float',
 'office_name_minnesotasouth': 'float',
 'office_name_monroe': 'float',
 'office_name_montgomery': 'float',
 'office_name_moultrie': 'float',
 'office_name_newlenox': 'float',
 'office_name_northalabama': 'float',
 'office_name_northatlanta': 'float',
 'office_name_northdupage': 'float',
 'office_name_northeastga': 'float',
 'office_name_northernlights': 'float',
 'office_name_northernnevada': 'float',
 'office_name_northwestga': 'float',
 'office_name_npugetsound': 'float',
 'office_name_nwill-sdupage': 'float',
 'office_name_ogle': 'float',
 'office_name_oklahoma': 'float',
 'office_name_olympia': 'float',
 'office_name_orlandpark': 'float',
 'office_name_peoria': 'float',
 'office_name_perry': 'float',
 'office_name_phoenixmetro': 'float',
 'office_name_piatt': 'float',
 'office_name_pike': 'float',
 'office_name_pope-hardin': 'float',
 'office_name_pulaski-alexandr': 'float',
 'office_name_randolph': 'float',
 'office_name_richland': 'float',
 'office_name_rockisland': 'float',
 'office_name_saline': 'float',
 'office_name_sangamon': 'float',
 'office_name_schaumburg': 'float',
 'office_name_schuyler': 'float',
 'office_name_scntrlgeorgia': 'float',
 'office_name_scott': 'float',
 'office_name_scragency': 'float',
 'office_name_sewashington': 'float',
 'office_name_shelby': 'float',
 'office_name_southalabama': 'float',
 'office_name_southeastga': 'float',
 'office_name_southernarizona': 'float',
 'office_name_southernnevada': 'float',
 'office_name_southernoregon': 'float',
 'office_name_southholland': 'float',
 'office_name_southwisconsin': 'float',
 'office_name_spokaneagency': 'float',
 'office_name_stark': 'float',
 'office_name_stcharles-elgin': 'float',
 'office_name_stclair': 'float',
 'office_name_stclairnorth': 'float',
 'office_name_stcroixcentral': 'float',
 'office_name_stephenson': 'float',
 'office_name_stlouiscentral': 'float',
 'office_name_stlouisnwest': 'float',
 'office_name_summitagency': 'float',
 'office_name_swgeorgia': 'float',
 'office_name_tacomaagency': 'float',
 'office_name_tazewell': 'float',
 'office_name_tennessee': 'float',
 'office_name_tricity': 'float',
 'office_name_tualatinvalley': 'float',
 'office_name_union': 'float',
 'office_name_vancouver': 'float',
 'office_name_vermilion': 'float',
 'office_name_wabash': 'float',
 'office_name_warren': 'float',
 'office_name_washington': 'float',
 'office_name_wayne': 'float',
 'office_name_westportland': 'float',
 'office_name_white': 'float',
 'office_name_whiteside': 'float',
 'office_name_willamettefalls': 'float',
 'office_name_willamettevy': 'float',
 'office_name_williamson': 'float',
 'office_name_winnebagoagency': 'float',
 'office_name_woodford': 'float',
 'office_name_nan': 'float',
 'quoteloc_inperson': 'float',
 'quoteloc_online': 'float',
 'bill_mode_annual': 'float',
 'bill_mode_automonthl': 'float',
 'bill_mode_monthly': 'float',
 'bill_mode_quarterly': 'float',
 'bill_mode_semiannual': 'float',
 'company_ccic': 'float',
 'company_cmic': 'float',
 'company_cpic': 'float',
 'rateplan_preferred': 'float',
 'rateplan_special': 'float',
 'rateplan_standard': 'float',
 'autopay_n': 'float',
 'autopay_y': 'float',
 'atd_n': 'float',
 'atd_y': 'float',
 'ddd_n': 'float',
 'ddd_y': 'float',
 'ecd_n': 'float',
 'ecd_y': 'float',
 'mcd_m': 'float',
 'mcd_y': 'float',
 'mcd_nan': 'float',
 'occupation_discount_e': 'float',
 'occupation_discount_ef': 'float',
 'occupation_discount_eft': 'float',
 'occupation_discount_ep': 'float',
 'occupation_discount_ept': 'float',
 'occupation_discount_et': 'float',
 'occupation_discount_f': 'float',
 'occupation_discount_fp': 'float',
 'occupation_discount_ft': 'float',
 'occupation_discount_h': 'float',
 'occupation_discount_p': 'float',
 'occupation_discount_pt': 'float',
 'occupation_discount_t': 'float',
 'occupation_discount_nan': 'float',
 'sdd_n': 'float',
 'sdd_y': 'float',
 'nvd_n': 'float',
 'nvd_y': 'float',
 'lcd_n': 'float',
 'lcd_y': 'float',
 'gdd_n': 'float',
 'gdd_y': 'float',
 'gsd_n': 'float',
 'gsd_y': 'float',
 'grad_n': 'float',
 'grad_y': 'float',
 'bi_limit_100000/300000': 'float',
 'bi_limit_1000000/1000000': 'float',
 'bi_limit_25000/50000': 'float',
 'bi_limit_250000/500000': 'float',
 'bi_limit_30000/60000': 'float',
 'bi_limit_300000/500000': 'float',
 'bi_limit_50000/100000': 'float',
 'bi_limit_500000/1000000': 'float',
 'bi_limit_500000/500000': 'float',
 'bi_limit_750000/750000': 'float',
 'bi_limit_none': 'float',
 'bi_limit_nan': 'float',
 'comp_ded_0': 'float',
 'comp_ded_100': 'float',
 'comp_ded_1000': 'float',
 'comp_ded_2000': 'float',
 'comp_ded_250': 'float',
 'comp_ded_50': 'float',
 'comp_ded_500': 'float',
 'comp_ded_5000': 'float',
 'comp_ded_nan': 'float',
 'coll_ded_0': 'float',
 'coll_ded_100': 'float',
 'coll_ded_1000': 'float',
 'coll_ded_2000': 'float',
 'coll_ded_250': 'float',
 'coll_ded_50': 'float',
 'coll_ded_500': 'float',
 'coll_ded_5000': 'float',
 'coll_ded_nan': 'float',
 'pleasure_only_n': 'float',
 'pleasure_only_y': 'float',
 'pleasure_only_nan': 'float',
 'keeper_n': 'float',
 'keeper_y': 'float',
 'advance_quote_discount_n': 'float',
 'advance_quote_discount_y': 'float',
 'incident_group_clean': 'float',
 'incident_group_dirty': 'float',
 'incident_group_yr45': 'float',
 'incident_group_nan': 'float',
 'prior_bi_100000/300000': 'float',
 'prior_bi_15000/30000': 'float',
 'prior_bi_20000/40000': 'float',
 'prior_bi_25000/50000': 'float',
 'prior_bi_250000/500000': 'float',
 'prior_bi_30000/60000': 'float',
 'prior_bi_50000/100000': 'float',
 'prior_bi_nan': 'float',
 'married_n': 'float',
 'married_y': 'float',
 'married_nan': 'float',
 'male_n': 'float',
 'male_y': 'float',
 'male_nan': 'float',
 'female_n': 'float',
 'female_y': 'float',
 'female_nan': 'float',
 'mpd_autoagree': 'float',
 'mpd_autohome': 'float',
 'mpd_autohomelife': 'float',
 'mpd_autohomelifeumbrella': 'float',
 'mpd_autohomeumbrella': 'float',
 'mpd_autotenant': 'float',
 'mpd_autotenantlife': 'float',
 'mpd_autotenantlifeumbrella': 'float',
 'mpd_autotenantumbrella': 'float',
 'mpd_none': 'float',
 'mpd_nan': 'float',
 'farm_use_n': 'float',
 'farm_use_y': 'float',
 'farm_use_nan': 'float',
 'large_farm_truck_n': 'float',
 'large_farm_truck_y': 'float',
 'large_farm_truck_nan': 'float',
 'semi_farm_truck_n': 'float',
 'semi_farm_truck_y': 'float',
 'semi_farm_truck_nan': 'float',
 'mulq_n': 'float',
 'mulq_y': 'float',
 'min_annualmileage': 'float',
 'min_bipdsymbol': 'float',
 'min_collisionsymbol': 'float',
 'min_compsymbol': 'float',
 'min_medpipsymbol': 'float',
 'min_vehicleage': 'float',
 'min_weeklytowork': 'float',
 'max_annualmileage': 'float',
 'max_bipdsymbol': 'float',
 'max_collisionsymbol': 'float',
 'max_compsymbol': 'float',
 'max_medpipsymbol': 'float',
 'max_vehicleage': 'float',
 'max_weeklytowork': 'float',
 'mean_annualmileage': 'float',
 'mean_bipdsymbol': 'float',
 'mean_collisionsymbol': 'float',
 'mean_compsymbol': 'float',
 'mean_medpipsymbol': 'float',
 'mean_vehicleage': 'float',
 'mean_weeklytowork': 'float',
 'mean_annualmileage_missing_ind': 'float',
 'mean_bipdsymbol_missing_ind': 'float',
 'mean_collisionsymbol_missing_ind': 'float',
 'mean_compsymbol_missing_ind': 'float',
 'mean_medpipsymbol_missing_ind': 'float',
 'mean_weeklytowork_missing_ind': 'float',
 'assignablevehind_n': 'float',
 'assignablevehind_y': 'float',
 'collisiondeductible_100': 'float',
 'collisiondeductible_1000': 'float',
 'collisiondeductible_200': 'float',
 'collisiondeductible_2000': 'float',
 'collisiondeductible_250': 'float',
 'collisiondeductible_50': 'float',
 'collisiondeductible_500': 'float',
 'collisiondeductible_5000': 'float',
 'collisiondeductible_none': 'float',
 'collisiondeductible_nan': 'float',
 'communicationdeviceind_n': 'float',
 'communicationdeviceind_y': 'float',
 'comprehensivedeductible_100': 'float',
 'comprehensivedeductible_1000': 'float',
 'comprehensivedeductible_2000': 'float',
 'comprehensivedeductible_250': 'float',
 'comprehensivedeductible_50': 'float',
 'comprehensivedeductible_500': 'float',
 'comprehensivedeductible_5000': 'float',
 'comprehensivedeductible_nodeductible': 'float',
 'comprehensivedeductible_none': 'float',
 'comprehensivedeductible_nan': 'float',
 'emergencyroadservice_n': 'float',
 'emergencyroadservice_y': 'float',
 'emergencyroadservice_nan': 'float',
 'excessvehind_n': 'float',
 'excessvehind_y': 'float',
 'excessvehind_nan': 'float',
 'factoryantitheftdeviceind_n': 'float',
 'factoryantitheftdeviceind_y': 'float',
 'factoryantitheftdeviceind_nan': 'float',
 'highperformanceind_ac': 'float',
 'highperformanceind_at': 'float',
 'highperformanceind_n': 'float',
 'highperformanceind_y': 'float',
 'highperformanceind_nan': 'float',
 'makeliteral_acura': 'float',
 'makeliteral_alfaromeo': 'float',
 'makeliteral_arcticcat': 'float',
 'makeliteral_audi': 'float',
 'makeliteral_bigtex': 'float',
 'makeliteral_bmw': 'float',
 'makeliteral_buick': 'float',
 'makeliteral_can-am': 'float',
 'makeliteral_canam': 'float',
 'makeliteral_cati': 'float',
 'makeliteral_cheerokee': 'float',
 'makeliteral_cheverolet': 'float',
 'makeliteral_coach': 'float',
 'makeliteral_coachmen': 'float',
 'makeliteral_coleman': 'float',
 'makeliteral_dadillac': 'float',
 'makeliteral_damon': 'float',
 'makeliteral_dodge': 'float',
 'makeliteral_dutchman': 'float',
 'makeliteral_featherlite': 'float',
 'makeliteral_fiat': 'float',
 'makeliteral_fleetwod': 'float',
 'makeliteral_ford': 'float',
 'makeliteral_forest': 'float',
 'makeliteral_forestriver': 'float',
 'makeliteral_forrestriver': 'float',
 'makeliteral_freightliner': 'float',
 'makeliteral_genes': 'float',
 'makeliteral_gmc': 'float',
 'makeliteral_granddesign': 'float',
 'makeliteral_hallmark': 'float',
 'makeliteral_hamer': 'float',
 'makeliteral_harleydavidson': 'float',
 'makeliteral_harleydavison': 'float',
 'makeliteral_hartland': 'float',
 'makeliteral_holiday': 'float',
 'makeliteral_honda': 'float',
 'makeliteral_hyundai': 'float',
 'makeliteral_icecastle': 'float',
 'makeliteral_indian': 'float',
 'makeliteral_infiniti': 'float',
 'makeliteral_internaional': 'float',
 'makeliteral_interstate': 'float',
 'makeliteral_isuzu': 'float',
 'makeliteral_jaguar': 'float',
 'makeliteral_jayco': 'float',
 'makeliteral_jeepcj': 'float',
 'makeliteral_kawasaki': 'float',
 'makeliteral_kensworth': 'float',
 'makeliteral_keytston': 'float',
 'makeliteral_kia': 'float',
 'makeliteral_ktm': 'float',
 'makeliteral_lance': 'float',
 'makeliteral_landrover': 'float',
 'makeliteral_lexus': 'float',
 'makeliteral_lincoln': 'float',
 'makeliteral_mack': 'float',
 'makeliteral_maseratti': 'float',
 'makeliteral_mazda': 'float',
 'makeliteral_mercedesbenz': 'float',
 'makeliteral_merkur': 'float',
 'makeliteral_mini': 'float',
 'makeliteral_mitzubishi': 'float',
 'makeliteral_oldsmobile': 'float',
 'makeliteral_other': 'float',
 'makeliteral_pace': 'float',
 'makeliteral_peterbuilt': 'float',
 'makeliteral_pj': 'float',
 'makeliteral_plymoth': 'float',
 'makeliteral_polar': 'float',
 'makeliteral_pontiacg6': 'float',
 'makeliteral_porsche': 'float',
 'makeliteral_ram': 'float',
 'makeliteral_rocwood': 'float',
 'makeliteral_saab': 'float',
 'makeliteral_salem': 'float',
 'makeliteral_saturn': 'float',
 'makeliteral_scion': 'float',
 'makeliteral_skidoo': 'float',
 'makeliteral_smart': 'float',
 'makeliteral_starcrft': 'float',
 'makeliteral_subaru': 'float',
 'makeliteral_suzki': 'float',
 'makeliteral_tcchrysler': 'float',
 'makeliteral_tesla': 'float',
 'makeliteral_texas': 'float',
 'makeliteral_thor': 'float',
 'makeliteral_timpt': 'float',
 'makeliteral_tissin': 'float',
 'makeliteral_trailer': 'float',
 'makeliteral_triton': 'float',
 'makeliteral_truimph': 'float',
 'makeliteral_tyoga': 'float',
 'makeliteral_utility': 'float',
 'makeliteral_victoria': 'float',
 'makeliteral_volkswagon': 'float',
 'makeliteral_vovlo': 'float',
 'makeliteral_wilso': 'float',
 'makeliteral_winnebego': 'float',
 'makeliteral_yahaha': 'float',
 'safetyglass_n': 'float',
 'safetyglass_y': 'float',
 'safetyglass_nan': 'float',
 'schoolchildrentransportation_n': 'float',
 'schoolchildrentransportation_y': 'float',
 'schoolchildrentransportation_nan': 'float',
 'seasonalvehind_n': 'float',
 'seasonalvehind_y': 'float',
 'snowplowliability_n': 'float',
 'snowplowliability_y': 'float',
 'snowplowliability_nan': 'float',
 'usecd_business': 'float',
 'usecd_farm': 'float',
 'usecd_pleasure': 'float',
 'usecd_toschool': 'float',
 'usecd_towork': 'float',
 'usecd_nan': 'float',
 'vehiclecategory_cycle': 'float',
 'vehiclecategory_farmveh': 'float',
 'vehiclecategory_offroadrecveh': 'float',
 'vehiclecategory_onroadrecveh': 'float',
 'vehiclecategory_standveh': 'float',
 'vehiclecategory_trailer': 'float',
 'vehicleownership_financed': 'float',
 'vehicleownership_leased': 'float',
 'vehicleownership_owned': 'float',
 'vehicleownership_nan': 'float',
 'vehicletype_atv': 'float',
 'vehicletype_cargovan': 'float',
 'vehicletype_carsuv': 'float',
 'vehicletype_chopper': 'float',
 'vehicletype_convan': 'float',
 'vehicletype_cruistour': 'float',
 'vehicletype_dualsport': 'float',
 'vehicletype_dunebuggy': 'float',
 'vehicletype_golfcart': 'float',
 'vehicletype_largetruck': 'float',
 'vehicletype_mopedscootmotorbike': 'float',
 'vehicletype_motorhome': 'float',
 'vehicletype_neighelecveh': 'float',
 'vehicletype_regstan': 'float',
 'vehicletype_semitrac': 'float',
 'vehicletype_semitrail': 'float',
 'vehicletype_snowmobile': 'float',
 'vehicletype_supersport': 'float',
 'vehicletype_tracmobileagmach': 'float',
 'vehicletype_trailbike': 'float',
 'vehicletype_traveltrail': 'float',
 'vehicletype_trike': 'float',
 'vehicletype_truck': 'float',
 'vehicletype_truckcamp': 'float',
 'vehicletype_utilitytrail': 'float',
 'vehicletype_van': 'float',
 'vehicletype_vanbus': 'float',
 'uninsuredmotoristspropertydamagedeductible_100': 'float',
 'uninsuredmotoristspropertydamagedeductible_200': 'float',
 'uninsuredmotoristspropertydamagedeductible_250': 'float',
 'uninsuredmotoristspropertydamagedeductible_nodeductible': 'float',
 'uninsuredmotoristspropertydamagedeductible_nan': 'float',
 'uninsuredmotoristspropertydamageind_n': 'float',
 'uninsuredmotoristspropertydamageind_y': 'float',
 'uninsuredmotoristspropertydamageind_nan': 'float',
 'vehiclecount': 'float',
 'min_personsage': 'float',
 'min_yearslicensed': 'float',
 'max_personsage': 'float',
 'max_yearslicensed': 'float',
 'mean_personsage': 'float',
 'mean_yearslicensed': 'float',
 'mean_personsage_missing_ind': 'float',
 'mean_yearslicensed_missing_ind': 'float',
 'accesstovehicleind_n': 'float',
 'accesstovehicleind_y': 'float',
 'accesstovehicleind_nan': 'float',
 'activedutyalertind_n': 'float',
 'activedutyalertind_y': 'float',
 'activedutyalertind_nan': 'float',
 'awayatschoolind_n': 'float',
 'awayatschoolind_y': 'float',
 'awayatschoolind_nan': 'float',
 'defensivedrivcourseind_cycle': 'float',
 'defensivedrivcourseind_n': 'float',
 'defensivedrivcourseind_none': 'float',
 'defensivedrivcourseind_passengerveh': 'float',
 'defensivedrivcourseind_passengervehcycle': 'float',
 'defensivedrivcourseind_y': 'float',
 'defensivedrivcourseind_nan': 'float',

## Export Results

In [54]:
# Export Merged Dataset
Merged.to_csv("Normalized_df.csv", index = False)

In [55]:
# Export data dictionary
with open("Normalized_datadictionary.json", "w") as outfile: 
    json.dump(DataDictionary, outfile)

In [56]:
display(time.time() - initial)

1108.98690533638